{% import 'macros.html' as macros %}
<li>
    {{ macros.checklist_image(attendee.reviewed_emergency_procedures) }}
    {% if not attendee.reviewed_emergency_procedures %}
        Please review
    {% else %}
        You have acknowledged that you reviewed our
    {% endif %}
    {% if attendee.shirt_info_marked or (attendee.badge_type == c.CONTRACTOR_BADGE and attendee.food_restrictions_filled_out) %}<a href="emergency_procedures">Emergency Procedures</a>{% else %}Emergency Procedures{% endif %}
    {% if not attendee.reviewed_emergency_procedures %} and acknowledge that you have done so{% endif %}. 
    (Deadline: December 18, 2019)
</li>
