{% import 'macros.html' as macros %}
{% if c.HOTELS_ENABLED and c.PRE_CON %}
{% if c.HOTEL_LOTTERY_STAFF_START and c.BEFORE_HOTEL_LOTTERY_STAFF_DEADLINE and not attendee.selected_hotel_type %}
<li>
    {{ macros.checklist_image(attendee.selected_hotel_type) }}
    Please <a href="prelottery?id={{ attendee.id }}">let us know</a> whether you want to enter the staff pre-lottery or utilize staff crash space.
</li>
{% elif attendee.badge_type == c.STAFF_BADGE and not attendee.hotel_eligible %}
<li>
    {% if attendee.lottery_application and (attendee.lottery_application.status == c.COMPLETE or attendee.lottery_application.status in c.HOTEL_LOTTERY_AWARD_STATUSES) %}
        {% if attendee.lottery_application.is_staff_entry %}
        You are not eligible to request staff crash space because you have booked a room in the pre-lottery.
        {% else %}
        You are currently in the attendee lottery. You must <a href="../hotel_lottery/index?attendee_id={{ attendee.id }}" target="_blank">withdraw your lottery entry</a> to be eligible for staff crash space.
        {% endif %}
    {% else %}
    You are not eligible to request staff crash space.
    {% endif %}
    Please contact us at {{ c.STAFF_EMAIL|email_only|email_to_link }} if you have any questions.
</li>
{% endif %}
{% endif %}
