{% if group.is_dealer or is_prereg_dealer %}
<div id="prior_name">
    {% if not admin_area %}
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 checkbox">
            {{ macros.toggle_checkbox(
                '.form-group-prior-name',
                'I have run a table under a different name at one of the past two in-person Super MAGFest events.',
                suffix="prior_name",
                name='has_prior_name',
                required_selector='.form-group-prior-name .form-control',
                hide_on_checked=False,
                checked=group.prior_name) }}
        </div>
    </div>
    {% endif %}
    {{ macros.form_group(
        group,
        'prior_name',
        form_class="form-group-prior-name",
        label="Prior Table Name") }}
</div>

<div id="sellers_permit">
    <div class="form-group">
        <label class="col-sm-3 control-label">Sellers Permit</label>
        <div class="col-sm-9 checkbox">
            {{ macros.toggle_checkbox(
                '.form-group-license-number',
                'I already have a Maryland Traders or Sellers Permit',
                suffix="sellers_permit",
                name='has_permit',
                required_selector='.form-group-license-number .form-control',
                hide_on_checked=False,
                checked=group.has_permit) }}
        </div>
    </div>
    {{ macros.form_group(
        group,
        'license',
        form_class="form-group-license-number",
        label="License Number",
        help="Please enter the license number for your Maryland Traders or Sellers Permit.") }}
</div>

<script type="text/javascript">
if ($.field('prior_name')) {
    $('#prior_name').insertAfter($.field('website').parents('.form-group'));
}
if ($.field('has_permit')) {
    $('#sellers_permit').insertAfter($.field('group_email_address').parents('.form-group'));
}
if ($.field('website')) {
    $.field('website').closest('.form-group').find('.help-block').html(
        "This is where you post your main portfolio link. " +
        "<strong>This link CANNOT be a twitter or instagram link because of the account requirements to view posts here. " +
        "If no suitable link is provided, you will not be accepted.</strong> " +
        "Please include additional links to social media accounts or additional " +
        "places to view your items in the What do you sell box? above.");
}

if ($('#business-info-intro')) {
    $('#business-info-intro').html(
        "Please enter your <strong>business</strong> address, phone number, and email below. " +
        "This should be the information you use for tax purposes. " +
        "If you are selected to sell at MAGFest, then we will provide this information to the Maryland Comptroller's Office for Tax Permits. "
    )
}
</script>
{% endif %}