<script type="text/javascript">
    {% if attendee.is_new and not group_id %}
        if (window.REG_TYPES) {
            REG_TYPES.options.push({
                title: 'Child: $' + Math.floor({{ c.BADGE_PRICE }} / 2),
                description: '<p class="list-group-item-text">Attendees under 13 must be accompanied by an adult with a valid Attendee badge.</p>' +
            '<span class="prereg-price-notice">Price is always half that of the Single Attendee badge price.</span>',
                onClick: function () {
                    $('.group_fields').addClass('hide');
                    if ($.field('first_name')) {
                        $('#bold-field-message').insertBefore($.field('first_name').parents('.form-group'));
                    }
                    $('input[name="badge_type"]').val('{{ c.CHILD_BADGE }}');
                    togglePrices();
                }
            });
        }
    {% endif %}

    $(function () {
        // This auto-selects the Child badge when the user is, e.g., editing their registration before paying
        {% if attendee.badge_type == c.CHILD_BADGE %}
            if (window.REG_TYPES && $(REG_TYPES.row).size()) {
                setBadge(REG_TYPES, 2);  // default to child badge when appropriate
            }
        {% endif %}
        
        // This places our "Extra Donation" form after our kick-in selection area.
        if ($.field('amount_extra')) {
            $('#extra_donation').insertAfter($.field('amount_extra').parents('.form-group'));
        }
        
        {% if c.PAGE_PATH != '/registration/form' %}
            // These are explanatory fields for attendees, so admins don't need to see them
            // #tax_exempt tells people that MAGFest is a 501(c)(3) nonprofit
            if ($.field('amount_extra')) {
                $.field('amount_extra').parents('.form-group').find('.help-block').hide();
                $.field('amount_extra').parents('.form-group').append($('#tax_exempt'));
            }
            
            // #tshirt_warning tells people that we don't sell 'slim' sizes at-fest
            if ($.field('shirt')) {
                $.field('shirt').parents('.form-group').append($('#tshirt_warning'));
            } else {
                $('#tshirt_warning').hide();
            }
            
            // Super MAGFest has a very large kick-in selection area, so we save some page space here
            // by hiding the normal 'badge type' selectors (which are generally used to select kick-in levels).
            if ($(".badge-type-selector").size()) {
                $(".badge-type-selector").parents('.form-group').hide();
            }
        {% endif %}

        {% if c.PAGE_PATH == '/registration/register' %}
            if ($.field('extra_donation')) {
                $.field('extra_donation').parents('.form-group').find('label').addClass('optional-field');
            }
        {% endif %}

        {% if c.AFTER_PREREG_TAKEDOWN %}
            // MAGFest leaves prereg running after the supposed "deadline", so we want to turn off the warnings.
            // Note: This may not actually be required anymore
            var origTogglePrices = window.togglePrices;
            window.togglePrices = function () {
                (origTogglePrices || $.noop)();
                $('.prereg-type-closing').empty();
            };
            togglePrices();
        {% endif %}

        // MAGFest uses tiered badge pricing based on caps, so we want to link to our FAQ explaining this
        if ($('.prereg-price-notice').size()) {
            $('#reg-types').append('<div class="help-block col-sm-6 col-sm-offset-2">Prices may increase before the set date. {% popup_link "http://magfest.org/faq#-KOpcFnNhdsUIqvvf6VB" "Why is this?" %}</div>')
        }
    });
</script>

{% if c.PAGE_PATH != '/preregistration/transfer_badge' %}
    <div id="extra_donation">
        <div class="form-group">
            <label class="col-sm-2 control-label">Extra Donation</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" name="extra_donation" value="{% if attendee.extra_donation %}{{ attendee.extra_donation }}{% endif %}" placeholder="0">
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
            {% if c.PAGE_PATH != '/registration/form' %}
                <p class="help-block col-sm-6 col-sm-offset-2">
                    MAGFest inc is a 501(c)(3) charitable organization, and additional donations may be tax deductible.
                    Your employer may also have a charitable donation matching program. E-mail contact@magfest.org for details.
                </p>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if c.PAGE_PATH != '/registration/form' %}
    <div id="tax_exempt">
        <div class="help-block col-sm-6 col-sm-offset-2">
            Badge tier upgrades may be partially tax deductible. E-mail contact@magfest.org for details.
        </div>
    </div>

    <div id="tshirt_warning">
        <div class="help-block col-sm-6 col-sm-offset-2">
            <em>Slim fit sizes only available during online pre-order. {% popup_link "http://magfest.org/images/2016swag/shirtsizeguide.png" "Size guide." %}</em>
        </div>
    </div>

{% endif %}
