<script type="text/javascript">
    $(function () {
        if ($.field('payment_method')) {
            $('#price_explanation').insertAfter($.field('payment_method').parents('.form-group'));
        }

        if ($.field('shirt')) {
            $('.season-row').insertAfter($.field('shirt').parents('.form-group'));
        }
        if ($('#extra_donation')) {
            $('#extra_donation .control-label span').text('Superstar Donation');
            {% if is_prereg_attendee or not attendee.extra_donation %}$('#extra_donation').prepend('<img class="center-block" width="100%" src="{{ c.URL_BASE }}/static/theme/superstar.png" width="400" alt="Become a Superstar" />');{% endif %}
            $('#extra_donation p.help-block').html(
                '<p>Become a MAGFest Superstar! With a donation of $30 (or <i>more</i> &#128558;), you’ll receive a number of exclusive (and mostly pointless!) perks, earning a coveted spot on our Superstars Squad. <a href="https://super.magfest.org/magfest-superstars-info-page" target="_blank">Click here to learn more</a> (and to see the absolute BS perks you get for a donation of $420 and $1337).</p>' +
                '<strong>Remember!</strong> MAGFest, Inc. is a 501(c)(3) charitable organization, so your donation is tax-deductible! <strong>Donations are not merch packages and do not come with merchandise.</strong> Please only donate if you are in a financial position to do so—we thank you for your help!'
                );
            $('#extra_donation_preselect').insertBefore($('#extra_donation .input-group'));

            $('input[name="superstar_opts"]').change( function() {
                var newVal = $(this).val() == 0 ? '' : $(this).val();
                $('input[name="extra_donation"').val(newVal).trigger('blur');
            });
        }
        {% if not attendee.group and not attendee.promo_code_group and not is_prereg_dealer %}
        $.field('group_name').parents('.form-group').insertAfter($('label[for="legal_name"]').parents('.form-group'));
        {% endif %}

        {% if not admin_area %}
            // These are explanatory fields for attendees, so admins don't need to see them
            // #tax_exempt tells people that MAGFest is a 501(c)(3) nonprofit
            if ($.field('amount_extra')) {
                $.field('amount_extra').parents('.form-group').find('.help-block').addClass('col-sm-offset-3');
                $.field('amount_extra').parents('.form-group').append($('#tax_exempt'));
            } else {
              $('#tax_exempt').hide();
            }

            if ($.field('agreed_to_covid_policies') && $.field('pii_consent')) {
                $.field('agreed_to_covid_policies').parents('.form-group').insertAfter($.field('pii_consent').parents('.form-group'))
            }

            $('#attend_virtually').insertBefore('#bold-field-message');

            /*// #tshirt_warning tells people that we don't sell 'slim' sizes at-fest
            if ($.field('shirt')) {
                $.field('shirt').parents('.form-group').append($('#tshirt_warning'));
            } else {
                $('#tshirt_warning').hide();
            }*/

            // Super MAGFest has a very large kick-in selection area, so we save some page space here
            // by hiding the normal 'badge type' selectors (which are generally used to select kick-in levels).
            if ($(".badge-type-selector").size()) {
                $(".badge-type-selector").parents('.form-group').hide();
            }
        {% endif %}

        {% if c.AFTER_PREREG_TAKEDOWN %}
            // MAGFest leaves prereg running after the supposed "deadline", so we want to turn off the warnings.
            // Note: This may not actually be required anymore
            var origTogglePrices = window.togglePrices;
            window.togglePrices = function () {
                (origTogglePrices || $.noop)();
                $('.prereg-type-closing').empty();
            };
            togglePrices();
        {% endif %}

        {% if c.BADGES_LEFT_AT_CURRENT_PRICE and c.BADGES_LEFT_AT_CURRENT_PRICE != -1 %}
        // Show a current estimate of badges left.
            {% if c.BADGES_LEFT_AT_CURRENT_PRICE <= 100 %}
                {% set badges_left_text = 'Almost Gone' %}
            {% elif c.BADGES_LEFT_AT_CURRENT_PRICE <= 250 %}
                {% set badges_left_text = 'Very Low' %}
            {% else %}
                {% set badges_left_text = 'Low' if c.BADGES_LEFT_AT_CURRENT_PRICE <= 500 else 'High' %}
            {% endif %}

            if ($('.prereg-price-notice').size()) {
                $('#reg-types').append("<div class='help-block col-sm-9 col-sm-offset-3'>Availability of badges: <strong>{{ badges_left_text }}</strong>.</div>");
            }
        {% endif %}

        // No more personalized swadges -- hide the field for attendees!
        {% if attendee and attendee.badge_type not in c.PREASSIGNED_BADGE_TYPES %}
          if ($.field('badge_printed_name') && $.field('badge_printed_name').size()) {
              $.field('badge_printed_name').parents('.form-group').remove();
          }
        {% endif %}
    });
</script>

{% if c.PAGE_PATH == '/registration/register' %}
  <div id="price_explanation">
    <div class="form-group">
      <p class="help-block col-sm-9 col-sm-offset-3">
      {% if c.CHILD_BADGE_AVAILABLE %}
        Badges for attendees under 13 are half-price. <br/>
        Attendees under 6 enter free. <br/>
        All attendees under 13 must be accompanied by an adult with a valid Attendee badge.
    {% else %}
    <span class="text-danger">Unfortunately, we are sold out of badges for attendees under 18.</span>
    {% endif %}
      </p>
    </div>
  </div>
{% endif %}

{% if not admin_area %}
  <span id="extra_donation_preselect">
    {% set superstar_dict = {30: '$30', 420: '$420', 1337: '$1337', 0: 'Custom'} %}
    {{ macros.button_radio_opts('', superstar_dict.items(), suffix="superstar_opts", default=attendee.extra_donation if attendee.extra_donation in superstar_dict else 0) }}
  </span>
  <br/>

    <!--<div id="tshirt_warning">
        <div class="help-block col-sm-9 col-sm-offset-3">
            <em>Slim fit sizes only available during online pre-order. {{ macros.popup_link("../static/swag/shirtsizeguide.png", "Size guide.") }}</em>
        </div>
    </div>-->

    <div class="form-group">
        <div class="checkbox col-sm-9 col-sm-offset-3">
            <label class="checkbox-label">
            {{ macros.checkbox(attendee, 'agreed_to_covid_policies', is_readonly=read_only, clientside_bool=clientside_bool, is_required=True) }}
            {% if c.COVID_POLICIES_URL %}
            By checking this box, I acknowledge that I have read and agree to abide by the 
            {{ macros.popup_link(c.COVID_POLICIES_URL, c.EVENT_NAME_AND_YEAR ~ " COVID Policies") }} in their entirety.
            I understand the <strong>vaccination and face covering requirements</strong> for all individuals, including minors, and I
            understand that MAGFest has a <strong>no-refunds policy</strong>. I will contact 
            {{ "exemptions@magfest.org"|email_to_link }} no later than <strong>November 15</strong> if I need to request an 
            exemption, and I understand that exemption requests may not be granted if received after this date.
            {% else %}
            <strong>Yes</strong>, I understand that if accepted, I will need to agree to the {{ c.EVENT_NAME_AND_YEAR ~ " COVID Policy" }} 
            in order to complete my {{ 'application' if attendee.is_dealer else 'registration' }}.{% if c.PRIOR_COVID_POLICIES_URL %} ({{ macros.popup_link(c.PRIOR_COVID_POLICIES_URL, "See last year's policy here") }}){% endif %}
            {% endif %}
            </label>
        </div>
    </div>
{% endif %}

<div class="form-group season-row" style="display:none">
    <label class="col-sm-3 control-label">Button-Down Shirt Size</label>
    <div class="col-sm-6">
        <select name="special_merch" class="form-control">{{ options(c.SPECIAL_MERCH_OPTS, attendee.special_merch) }}</select>
    </div>
    <div class="form-control-static">{{ macros.popup_link("../static/shirt_guide.png", "[size guide]") }}</div>
</div>

{% if not attendee.group and not attendee.promo_code_group and not is_prereg_dealer %}
{{ macros.form_group(
    attendee,
    'group_name',
    label="Group Name",
    help="Enter a group name to easily check in with other attendees in the same group.") }}
{% endif %}

{% if False and attendee.paid != c.NEED_NOT_PAY and not attendee.checked_in and not attendee.amount_unpaid and attendee.badge_status == c.COMPLETED_STATUS and (admin_area or c.PAGE_PATH == '/preregistration/confirm') %}
<div id="attend_virtually" class="alert alert-success">
    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Attend Virtually</label>
        <div class="checkbox col-sm-6">
            <label class="checkbox-label">
            {{ macros.checkbox(attendee, 'donate_badge_cost', is_readonly=read_only, clientside_bool=clientside_bool) }}
            <strong>Yes, I want to donate the cost of my badge to {{ c.ORGANIZATION_NAME }}.</strong> I understand that I will have my badge
            <span id="and-merch">{% if attendee.amount_extra %}and kick-in merch {% endif %}</span> shipped to me and that I will receive a tracking number
            by email before the end of January 2022.
            </label>
        </div>
    </div>
    {% if not c.COLLECT_FULL_ADDRESS %}
    {%- set attendee_address_suffix = attendee.id|replace("-", "") -%}
    <script type="text/javascript">
        {% include "region_opts.html" %}
        var setInternational = function () {
            countryName = $.field('country').val();
            if(countryName == 'United States') {
                $.field('international').prop('checked', false);
            } else if (countryName != '') {
                $.field('international').prop('checked', true);
            }
        };
        var showOrHideMailingAddress = function() {
            if ($.field('donate_badge_cost') && $.field('donate_badge_cost').prop('checked')) {
                $.field('zip_code').prop("disabled", true);
                $.field('country').prop("disabled", false);
                $('.address_details{{ attendee_address_suffix }} input').prop("disabled", false);
                $.field('zip_code').parents('.form-group').hide();
                $('.address_detailsc3130646a2964f598d6de045aec19011 input[name="zip_code"]').parents('.form-group').show();
            } else {
                $.field('zip_code').prop("disabled", false);
                $.field('country').prop("disabled", true);
                $('.address_details{{ attendee_address_suffix }} input').prop("disabled", true);
                $.field('zip_code').parents('.form-group').show();
            }
            setVisible($('#merch_mailing_address'), $.field('donate_badge_cost').prop('checked'));
            $('#hidden_region{{ attendee_address_suffix }}').prop("disabled", true);
        };
        var andMerchText = function() {
            if ($.field('amount_extra') && $.val('amount_extra')) {
                $('#and-merch').html('and kick-in merch ');
            } else {
                $('#and-merch').html('');
            }
        }
        $(function() {
            showOrHideMailingAddress();
            $.field('donate_badge_cost').on('click', showOrHideMailingAddress);
            $.field('amount_extra').on('change', andMerchText);
        });
    </script>
    <div id="merch_mailing_address">
    <div class="row"><label class="col-sm-6 col-sm-offset-3 address_details{{ attendee.id|replace('-', '') }}">Mailing Address</label></div>
    {{ macros.address_form(attendee, update_international=True, is_required=(not admin_area)) }}
    </div>
    {% endif %}
</div>
{% endif %}

{% if admin_area %}
<div class="form-group">
    <label for="covid_ready" class="col-sm-3 control-label optional-field">Ready to Check In</label>
    <div class="checkbox col-sm-9">
        <label class="checkbox-label">
        {{ macros.checkbox(attendee, 'covid_ready') }}
        This attendee is cleared to attend {{ c.EVENT_NAME }} under our COVID policies.
        </label>
    </div>
</div>
{% set read_only = (walk_on_ro or page_ro) or (not c.HAS_STAFFING_ADMIN_ACCESS and not c.HAS_REG_ADMIN_ACCESS) %}
<div class="form-group staffing staffing-checked">
    <label class="col-sm-3 control-label">Walk-on Volunteer</label>
    <div class="checkbox col-sm-6">
      {{ macros.checkbox(attendee, 'walk_on_volunteer', label='This person volunteered at-fest', is_readonly=read_only, clientside_bool=clientside_bool) }}
    </div>
</div>
<script type="text/javascript">
$.field('walk_on_volunteer').parents('.form-group').insertAfter($.field('staffing').parents('.form-group'));
{% if not attendee.staffing and c.AT_THE_CON %}
checkWalkOn = function () {
    $.field('walk_on_volunteer').prop('checked', $.field('staffing').prop('checked'));
}
$.field('staffing').on('click', checkWalkOn);
{% endif %}
</script>
{% endif %}
