<script type="text/javascript">
    {% if attendee.is_new and not group_id %}
        if (window.REG_TYPES) {
            REG_TYPES.options.push({
                title: '12 and Under: $' + Math.floor({{ c.BADGE_PRICE }} / 2),
                description: '<p class="list-group-item-text">Attendees 12 and under must be accompanied by an adult with a valid Attendee badge.</p>' +
            '<span class="prereg-price-notice">Price is always half that of the Single Attendee badge price.</span>',
                onClick: function () {
                    $('.group_fields').addClass('hide');
                    $('.non_group_fields').removeClass('hide');
                    if ($.field('first_name')) {
                        $('#bold-field-message').insertBefore($.field('first_name').parents('.form-group'));
                    }
                    $('input[name="badge_type"]').val('{{ c.CHILD_BADGE }}');
                    togglePrices();
                }
            });
        }
    {% endif %}

    $(function () {
        // This auto-selects the Child badge when the user is, e.g., editing their registration before paying
        {% if attendee.badge_type == c.CHILD_BADGE %}
            if (window.REG_TYPES && $(REG_TYPES.row).size()) {
                setBadge(REG_TYPES, 2);  // default to child badge when appropriate
            }
        {% endif %}

        if ($.field('payment_method')) {
            $('#price_explanation').insertAfter($.field('payment_method').parents('.form-group'));
        }

        {% if not admin_area %}
            // These are explanatory fields for attendees, so admins don't need to see them
            // #tax_exempt tells people that MAGFest is a 501(c)(3) nonprofit
            if ($.field('amount_extra')) {
                $.field('amount_extra').parents('.form-group').find('.help-block').addClass('col-sm-offset-3');
                $.field('amount_extra').parents('.form-group').append($('#tax_exempt'));
            } else {
              $('#tax_exempt').hide();
            }

            /*// #tshirt_warning tells people that we don't sell 'slim' sizes at-fest
            if ($.field('shirt')) {
                $.field('shirt').parents('.form-group').append($('#tshirt_warning'));
            } else {
                $('#tshirt_warning').hide();
            }*/

            // Super MAGFest has a very large kick-in selection area, so we save some page space here
            // by hiding the normal 'badge type' selectors (which are generally used to select kick-in levels).
            if ($(".badge-type-selector").size()) {
                $(".badge-type-selector").parents('.form-group').hide();
            }
        {% endif %}

        {% if c.AFTER_PREREG_TAKEDOWN %}
            // MAGFest leaves prereg running after the supposed "deadline", so we want to turn off the warnings.
            // Note: This may not actually be required anymore
            var origTogglePrices = window.togglePrices;
            window.togglePrices = function () {
                (origTogglePrices || $.noop)();
                $('.prereg-type-closing').empty();
            };
            togglePrices();
        {% endif %}

        // Show a current estimate of badges left.
        {% if c.BADGES_LEFT_AT_CURRENT_PRICE %}
            {% if c.BADGES_LEFT_AT_CURRENT_PRICE == -1 %}
                {% set badges_left_text = 'Unlimited' %}
            {% elif c.BADGES_LEFT_AT_CURRENT_PRICE <= 100 %}
                {% set badges_left_text = 'Almost Gone' %}
            {% elif c.BADGES_LEFT_AT_CURRENT_PRICE <= 250 %}
                {% set badges_left_text = 'Very Low' %}
            {% else %}
                {% set badges_left_text = 'Low' if c.BADGES_LEFT_AT_CURRENT_PRICE <= 500 else 'High' %}
            {% endif %}

            if ($('.prereg-price-notice').size()) {
            $('#reg-types').append("<div class='help-block col-sm-9 col-sm-offset-3'>Availability of badges: <strong>{{ badges_left_text }}</strong>.</div>");
        }
        {% endif %}

        // No more personalized swadges -- hide the field for attendees!
        {% if attendee and attendee.badge_type not in c.PREASSIGNED_BADGE_TYPES %}
          if ($.field('badge_printed_name') && $.field('badge_printed_name').size()) {
              $.field('badge_printed_name').parents('.form-group').remove();
          }
        {% endif %}

    });
</script>

{% if c.PAGE_PATH == '/registration/register' %}
  <div id="price_explanation">
    <div class="form-group">
      <p class="help-block col-sm-9 col-sm-offset-3">
        Badges for attendees under 13 are half-price. <br/>
        Attendees under 6 enter free. <br/>
        All attendees under 13 must be accompanied by an adult with a valid Attendee badge.
      </p>
    </div>
  </div>
{% endif %}

{% if admin_area %}
<div class="form-group staffing staffing-checked">
  <label class="col-sm-3 control-label">Reviewed Emergency Procedures</label>
  <div class="col-sm-9">
    <div class="form-control-static">
      {{ attendee.reviewed_emergency_procedures|yesno("Yes,No") }}
      <input type="hidden" name="reviewed_emergency_procedures" value="{{ attendee.reviewed_emergency_procedures|yesno("1,0") }}" />
    </div>
  </div>
</div>
<script type="text/javascript">
$.field('reviewed_emergency_procedures').parents('.form-group').insertAfter($.field('agreed_to_volunteer_agreement').parents('.form-group'));
</script>
{% endif %}

{% if not admin_area %}
    <div id="tax_exempt">
        <div class="help-block col-sm-9 col-sm-offset-3">
            Badge tier upgrades may be partially tax deductible. E-mail contact@magfest.org for details.
        </div>
    </div>

    <!--<div id="tshirt_warning">
        <div class="help-block col-sm-9 col-sm-offset-3">
            <em>Slim fit sizes only available during online pre-order. {{ macros.popup_link("../static/swag/shirtsizeguide.png", "Size guide.") }}</em>
        </div>
    </div>-->
{% endif %}
