{% extends "base-admin.html" %}
{% block title %}Department Checklist - Tech Ops{% endblock %}
{% block content %}

<h2>MPoint Needs</h2>

<h3><a href="https://docs.google.com/spreadsheets/d/1v-jZ7NPIgpR0-wsfZFOTKJJbKDUrd-xVIgf0mTTbjtM/edit#gid=799868163">{{ c.EVENT_NAME_AND_YEAR }} MPoints Form</a></h3>

<h2>Instructions</h2>
<ol>
    <li>If your department doesn't need any MPoints, just skip to the bottom and click the button to complete this step.</li>
    <li>DO NOT change anything in row 12 or above.</li>
    <li>For the contacts area, please do the following:
    <ol type="a">
        <li>Under Legal Name:</li>
        <ol type="i">
            <li>Enter the name of the people who can make decisions about MPoints in bold.</li>
            <li>Enter the name of the people who can receive MPoints onsite in regular text.</li>
        </ol>
        <li>Under MAGName:</li>
        <ol type="i">
            <li>Enter the name the person is known by.  For example: Big Adam, Tronster, Hachi.</li>
        </ol>
        <li>Under email:</li>
        <ol type="i">
            <li>Enter the email address of the decision makers only.</li>
        </ol>
        <li>The list is pre-populated based on data from the last Prime and Classic, add and delete as necessary.</li>
    </ol>
    </li>
    <li>The numbers contained in this spreadsheet include the amount of MPoints requested from the last MAGFest Prime, by denomination, for each department.  The last column in each department also represents the total amounts returned on Sunday.</li>
    <li>All departments start with a “General” request.  If you want to enter separate MPoint requests for different divisions in your department, then copy and paste the General section to the columns next to it, change the title, and enter each division separately.
    <ol type="a">
        <li>As an example, see the Arcade and Consoles sections.</li>
    </ol></li>
    <li>Each section includes the requests, per day and denomination, from the last Prime.  For this Prime, determine the quantity of denominations you need for each day based on the “Thoughts” section above & what’s in the “Returned” column, and modify the numbers you want.  The “Total Requested” for the event should already calculate.  You can ignore the “Total Used” formula and the “Used” column.</li>
    <li>Delete the numbers in the “Returned” column.</li>
    <li>When you are done, please highlight all the rows in your section in dark green.</li>

</ol>

<form method="post" action="treasury">
{{ csrf_token() }}
Once you've filled out the form above OR done nothing if your department does not need MPoints, please click the button below.<br/>
<br/>
<input type="submit" name="submitted" value="I Have Filled out the MPoints Form" />
</form>

{% endblock %}
