{% extends "base-admin.html" %}
{% block title %}Food Purchases{% endblock %}
{% block content %}

<h2 class="center">MAGStock Food Purchases</h2>

{{ attendees|length }} attendees have purchased food: <br/> <br/>

<table>
    <thead>
        <th>Attendee</th>
        <th>Allergies</th>
    </thead>
    <tbody>
        {% for attendee in attendees %}
            <tr>
                <td>{{ attendee|form_link }}</td>
                <td>{{ attendee.allergies }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
