{% extends "base-admin.html" %}
{% block title %}Parties{% endblock %}
{% block content %}

<h2 class="center">MAGStock Tent/Cabin Groupings</h2>

Since people just type in the names of their Tent Leaders and Tent Followers in plain text, we use a very simplistic method for
grouping people together.  We simply look for last names, which avoids problems with nicknames like Chris/John/etc. However,
this does mean that this report sometimes groups people together who have the same last name but aren't actually together.

{% for attendees in grouped %}
    <table cellspacing="5" cellpadding="5" border="1" style="width:100% ; margin-top:20px">
        <thead>
            <th>Name</th>
            <th>Site Type</th>
            <th>Camping Type</th>
            <th>Noise Level</th>
            <th>Coming As</th>
            <th>Coming With</th>
        </thead>
        <tbody>
            {% for attendee in attendees %}
                <tr>
                    <td>{{ attendee|form_link }}</td>
                    <td>{{ attendee.site_type_label }}</td>
                    <td>{{ attendee.camping_type_label }}</td>
                    <td>{{ attendee.noise_level_label }}</td>
                    <td>{{ attendee.coming_as_label }}</td>
                    <td>{{ attendee.coming_with|linebreaksbr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
