{% extends 'uber/templates/forms/group/table_info.html' %}

{% block x_data %}
{{ super() }}
has_prior_name: {{ (group.prior_name != '')|jsonize }},
has_permit: {{ (group.license != '')|jsonize }},
get priorName() { return this.has_prior_name == true },
get permit() { return this.has_permit == true },
{% endblock %}

{% block website %}
    <div class="col-sm">{{ form_macros.input(table_info.website) }}</div>
    {% if not admin_area %}
    <div class="col-sm">
        <div class="alert alert-warning" role="alert">
            <em>
                <strong>Your website link CANNOT be an X/Twitter or Instagram link 
                    because of the account requirements to view posts there.
                    If no suitable link is provided, you will not be accepted.</strong>
            </em>
          </div>
    </div>
    {% endif %}
{% endblock %}

{% block textareas %}
{{ super() }}
</div>
<div class="row g-sm-3 mb-3">
    <div class="col">
        {% call form_macros.input(table_info.has_prior_name, alpine_model="has_prior_name") %}
        <div x-show="priorName">{{ form_macros.input(table_info.prior_name, required_if="priorName") }}</div>
        {% endcall %}
    </div>
</div>

<div class="row g-sm-3 mb-3">
    <div class="col">
        {% call form_macros.input(table_info.has_permit, alpine_model="has_permit") %}
        <div x-show="permit">{{ form_macros.input(table_info.license) }}</div>
        {% endcall %}
    </div>
{% endblock %}