{% extends 'uber/templates/forms/attendee/badge_extras.html' %}

{% block donation %}
<div class="row g-sm-3">
    {% if not admin_area and c.BEFORE_SUPERSTAR_DEADLINE %}
    <div class="col-12">
        <a href="https://super.magfest.org/superstars" target="_blank">
            <img src="../static/images/superstar.png" width="100%" alt="Become a Superstar" />
        </a>
    </div>
    {% endif %}
    <div class="col-12{% if receipt and not upgrade_modal and not admin_area %} col-sm-10{% endif %}">{{ form_macros.form_input(badge_extras.extra_donation, id=id_upgrade_prepend ~ "extra_donation") }}</div>
    {% if receipt and not upgrade_modal and not admin_area %}
        <div class="col-12 col-sm-2">
            <div class="form-text">&nbsp;</div>{{ macros.upgrade_button('extra-donation', extra_classes="") }}</div>
    {% endif %}
    {% if not admin_area %}
    <div class="col-12 mt-0">
        {% if c.BEFORE_SUPERSTAR_DEADLINE %}
          <p>Donate to MAGFest and <a href="https://super.magfest.org/superstars" target="_blank">become a Superstar</a>!
            With a donation of $30 or more, you'll be listed as a Superstar donor on our website, have your name and 
            pet appear on the at-event Jumbotron, gain an exclusive Superstar role on our Discord server, and more.</p>
          
          <p>Feeling even more generous or want additional info? Check out our expanded tiers and benefits
          (including sponsoring your own Graffiti Banner) on our Superstar page above.</p>
        {% else %}
          <p>The deadline for <a href="https://super.magfest.org/superstars" target="_blank">becoming a Superstar</a>
            has passed, but we always appreciate any extra donations!</p>
        {% endif %}

          <p><strong>Donations are not merch packages and do not come with merchandise.</strong>
          MAGFest, Inc. is a 501(c)(3) charitable organization, so your donation is tax-deductible. 
          For more information, please contact {{ "accounting@magfest.org"|email_to_link }}.</p>
    </div>
    {% endif %}
</div>
{% endblock %}