{% extends 'uber/templates/forms/attendee/badge_extras.html' %}

{% block x_data %}
{{ super() }}
swadge_addon: {{ badge_extras.swadge_addon.data|tojson }},
{% endblock %}


{% block add_ons %}
{% if not receipt %}
<script type="text/javascript">
  $().ready(function() {
    if ($('#amount_extra-select legend').length) {
      $('#amount_extra-select legend').removeClass('form-text').addClass('h3 fw-bold').text("Add Pre-Order Merch!");
    }
  })
</script>
{% endif %}
{{ super() }}
{% set merch_desc %}
Physical products include a 6% Maryland Sales and Usage tax and must be picked up during the event.
Tax is not included in the prices above.
In limited cases products may be received through other methods or locations; additional fees or taxes may apply.
All merch in pre-order packages is EXCLUSIVE and not available for purchase at Super MAGFest.
{% endset %}
{% if not receipt or upgrade_modal %}
<div class="form-text" x-show="amount_extra != {{ c.SUPPORTER_LEVEL }}">{{ merch_desc }}</div>
{% endif %}
</div>
<div class="row g-3 mb-3">
  <div class="col-sm" x-show="amount_extra == {{ c.SUPPORTER_LEVEL }}">
    {% if not receipt or upgrade_modal %}
      {% if attendee.swadge_addon %}
      <input type="hidden" name="swadge_addon" x-bind:value="amount_extra == {{ c.SUPPORTER_LEVEL }} ? swadge_addon : false" />
      {% endif %}
      <div class="card card-body bg-primary" style="color: #ffe400;">
        {{ form_macros.input(badge_extras.swadge_addon, id=id_upgrade_prepend ~ "swadge_addon", class="form-check-input mt-2", disabled=(upgrade_modal|boolean and attendee.swadge_addon), label_kwargs={'class': "mt-0 fs-4 fw-bold"}, **{'x-bind:checked': 'amount_extra == ' ~ c.SUPPORTER_LEVEL ~ '? swadge_addon : ""' }) }}
        <div class="text-white ms-4">This is a Special add-on only available when you purchase the {{ c.DONATION_TIERS[c.SUPPORTER_LEVEL] }} merch package. (The Swadge is already included in the Hero of Rhyme tier.)
          <br/>The Swadge will cost $49 or higher at Super MAGFest. (${{ c.SWADGE_PRICE }} is at-cost)</div>
      </div>
      <div class="form-text">{{ merch_desc }}</div>
    {% else %}
        <div class="form-text">{{ badge_extras.swadge_addon.label.text }}</div>
        <div class="form-control-plaintext h5">{{ attendee.swadge_addon|yesno("Swadge Purchased,No Swadge Purchased") }}{% if not attendee.swadge_addon and c.ONLINE_PAYMENT_AVAILABLE %}{{ macros.upgrade_button('amount-extra', text="Purchase Merch" if attendee.amount_extra == 0 else "Upgrade") }}{% endif %}</div>
    {% endif %}
    
  </div>
{% endblock %}


{% block donation %}
{% set show_full_desc = not admin_area and (not receipt or upgrade_modal) %}

{% if show_full_desc and c.BEFORE_SUPERSTAR_DEADLINE %}
  <div class="col-sm">
      <a href="https://super.magfest.org/superstars" target="_blank">
          <img src="../static/images/superstar.png" width="100%" alt="Become a Superstar" />
      </a>
  </div>
  </div>
  <div class="row g-sm-3 mb-3">
{% endif %}
  {% if show_full_desc %}
    <div class="col-sm">{{ form_macros.input(badge_extras.extra_donation, id=id_upgrade_prepend ~ "extra_donation") }}</div>
  </div>
  <div class="row g-sm-3 mb-3">
    <div class="col-sm">
      {% if c.BEFORE_SUPERSTAR_DEADLINE %}
        <p>Donate to MAGFest and <a href="https://super.magfest.org/superstars" target="_blank">become a Superstar</a>!
          With a donation of $30 or more, you'll be listed as a Superstar donor on our website, have your name and 
          pet appear on the at-event Jumbotron, gain an exclusive Superstar role on our Discord server, and more.</p>
        
        <p>Feeling even more generous or want additional info? Check out our expanded tiers and benefits
        (including sponsoring your own Graffiti Banner) on our Superstar page above.</p>
      {% else %}
        <p>The deadline for <a href="https://super.magfest.org/superstars" target="_blank">becoming a Superstar</a>
          has passed, but we always appreciate any extra donations!</p>
      {% endif %}

        <p><strong>Donations are not merch packages and do not come with merchandise.</strong>
        MAGFest, Inc. is a 501(c)(3) charitable organization, so your donation is tax-deductible. 
        For more information, please contact {{ "accounting@magfest.org"|email_to_link }}.</p>
    </div>
  {% else %}
    <div class="col-sm">
      <div class="form-text">{{ badge_extras.extra_donation.label.text }}</div>
      <div class="form-control-plaintext h5">{{ attendee.extra_donation|format_currency }} {{ macros.upgrade_button('extra-donation') }}</div>
    </div>
  {% endif %}
{% endblock %}

{% block upgrade_modal_js %}
{{ super() }}
{% if upgrade_modal %}
<script type="text/javascript">
  $("#upgrade_swadge_addon").on('change', function() {
      updateReceiptPreview('swadge_addon', this.checked);
  })
  $("#upgrade_amount_extra").on('change', function() {
    if (this.value != {{ c.SUPPORTER_LEVEL }}) {
      updateReceiptPreview('swadge_addon', 0);
    } else {
      updateReceiptPreview('swadge_addon', {{ badge_extras.swadge_addon.data|tojson }});
    }
  })
</script>
{% endif %}
{% endblock %}