{% extends 'uber/templates/forms/attendee/check_in_form.html' %}

{% block badge_info %}
    <div class="col-sm">
        {% set badge_display_extra = '' if not attendee.accoutrements else ' (' ~ attendee.accoutrements[6:]|replace("a ","") ~ ')' %}
        {% call form_macros.input(check_in_form.badge_type) %}
        {{ attendee.badge_type_label ~ badge_display_extra }}
        {% endcall %}
    </div>
    {% if c.NUMBERED_BADGES and attendee.badge_num %}
        <div class="col-sm">
            {% if attendee.badge_num %}
            <div class="form-text">{{ check_in_form.badge_num.label.text }}</div>
            {{ check_in_form.badge_num.data }}
            {% else %}
            {{ form_macros.input(check_in_form.badge_num) }}
            {% endif %}
        </div>
    {% endif %}
    {% if c.COLLECT_EXACT_BIRTHDATE and attendee.birthdate %}
        <div class="col-sm">
            {% call form_macros.input(check_in_form.age_group) %}
            {{ attendee.age_group_conf.desc }}
            {% endcall %}
        </div>
    {% endif %}
{% endblock %}
