{% set staffing_or_other_info = staffing_info if staffing_info else other_info %}

<div class="col-sm">
    {{ form_macros.input(staffing_or_other_info.staffing, **{'x-model.boolean':'staffing'}) }}
</div>
</div>
<div x-show="staffing">
{% if c.PUBLIC_DEPARTMENT_OPTS_WITH_DESC|length > 1 %}
<div class="row g-3 mb-3">
    <div class="col-12">{{ form_macros.input(staffing_or_other_info.requested_depts_ids, help_text="Please select up to three departments.") }}</div>
</div>
{% endif %}
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(staffing_or_other_info.other_requested_dept) }}</div>
    <div class="col-sm">{{ form_macros.input(staffing_or_other_info.active_times) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-12">{{ form_macros.input(staffing_or_other_info.request_depts_experience) }}</div>