{% extends 'uber/templates/forms/attendee/personal_info.html' %}

{% block x_data %}
{{ super() }}
birthdate: '{{ personal_info.birthdate.data|default('', true) }}',
consent_form: {{ (attendee.birthdate and attendee.age_group_conf['consent_form'])|boolean|tojson }},
gets_emergency_texts: {{ personal_info.gets_emergency_texts.data|boolean|tojson }},
toggleEmergencyTextOptIn(data) {
  if(data.birthdate.match(/\d{2}\/\d{2}\/\d{4}/)) {
    $.ajax({
      method: 'GET',
      url: '../preregistration/_check_consent_form',
      dataType: 'json',
      data: {
          birthdate: data.birthdate
      },
      success: function (json) {
        data.consent_form = json.consent_form
      }
  });
  }
  return false;
},
{% endblock %}

{% block name %}
  {{ super() }}
  {% if not admin_area and not attendee.has_personalized_badge %}
  </div>
  <div class="row g-sm-3 mb-3">
    <div class="col-sm">{{ form_macros.input(personal_info.badge_printed_name, label_text="Display Name", help_text="A name for us to use on display boards during the event, e.g., leaderboards. Leave blank to use your first and last name.") }}</div>
  {% endif %}
{% endblock %}

{% block contact_info %}
</div>
<div x-data="{
  get cellphoneRequired() { return (this.staffing || this.dealer || this.gets_emergency_texts) && !this.no_cellphone && !this.copy_cellphone && !this.unassignedOrPlaceholder },
  get showNoCellphone() { return (this.cellphoneRequired || this.no_cellphone) && !this.gets_emergency_texts },
}">
  <div class="row g-sm-3 mb-3">
{{ super() }}
<div class="col-sm" x-show="!no_cellphone && !consent_form">
  <div class="form-text">Emergency Text Alerts</div>
  {{ form_macros.input(personal_info.gets_emergency_texts, alpine_model="gets_emergency_texts") }}
</div>
</div>
{% endblock %}

{% block age %}
  <div class="col-sm" x-init="$watch('birthdate', (value) => toggleEmergencyTextOptIn($data))">
    {% if c.COLLECT_EXACT_BIRTHDATE %}
      {{ form_macros.input(personal_info.birthdate, admin_text=attendee.age_group_conf.desc, required_if="!unassignedOrPlaceholder", alpine_model="birthdate") }}
    {% else %}
      {{ form_macros.input(personal_info.age_group, required_if="!unassignedOrPlaceholder") }}
    {% endif %}
  </div>
  <div class="col-sm">
    {% if c.CONSENT_FORM_URL and not admin_area %}
    <div class="alert alert-warning mb-0" role="alert">
      <em>
        Attendees under 18 <b>MUST</b> bring a signed 
        <a class="link-dark" target="_blank" href="{{ c.CONSENT_FORM_URL }}">parental consent form</a>.
      </em>
    </div>
    {% endif %}
  </div>
{% endblock %}