<html>
<head></head>
<body>
{{ app.submitter.first_name }},

<br/><br/>This is a notice that your panel "{{ app.name }}" has not yet been scheduled for {{ c.EVENT_NAME_AND_YEAR }}, but is on our list of backups.

<br/><br/>The amount we use our waitlist varies from year to year based on factors beyond our control.  If we want to pull your application off the waitlist, a member of the Panels department will contact you directly.

<br/><br/>We recognize that it takes time to prepare a presentation.  Outside of circumstances where we believe you would be able to present on short notice, we will only ask you to present this panel two weeks or more in advance of when the event starts.

<br/><br/>If you have any questions or concerns, please contact {{ dept_email|email_only }}.

<br/><br/>{{ email_signature }}
</body></html>