<html>
<head>
<title></title>
</head>
<body>

{{ attendee.first_name }},

<p>You are receiving this email because you ticked an interest in <i>PC Gaming</i> (LAN) while pre-registering for MAGFest.</p> 

<h4>Reminders</h4>
<p>We highly recommend bringing your own computer to fully enjoy the MAGFest LAN experience. <b>Please note: Due to limited availability, we do not allow tournament participation using a public play PC.</b></p>

<p>Please pre-register your LAN items by <a href="https://forms.gle/Zgyq9nZRb3y7RHzz6">filling out our online form</a> to zip through initial check-in.</p>

<p>Bring an ethernet cable 20 feet long or longer. If gaming on a laptop make sure it has a wired network port or USB network adapter. Limited quantities of ethernet cables and network adapter will be available for purchase.</p>

<p>Please update your OS and games before coming to MAGFest LAN. We try our best to provide enough bandwidth for everyone&mdash;saving every little bit counts. We don't want anyone stuck waiting hours for updates while friends play!</p>

<h4>MAGFest LAN Rules</h4>
<ul>
    <li><b>Please try to keep your setup contained.</b> You must be able to fit in a 30" deep by 36" wide space (half a table) if we reach capacity.</li>
    <li><b>Use headphones</b>, not speakers.</li>
    <li><b>Leave networking equipment at home.</b> We have plenty of ports.</li>
    <li><b>Bring a power strip.</b> You must only plug your power strip into the one we provide your table. DO NOT DAISY-CHAIN MULTIPLE POWERSTRIPS.</li>
    <li><b>Enter and exit only through the checkpoint.</b> Other doors are alarmed.</li>
    <li><b>Sleep in your hotel room.</b> Keyboard napping OK; sleeping bags NOT OK.</li>
    <li><b>Please adhere to the <a href='http://super.magfest.org/codeofconduct/'>MAGFest Code of Conduct</a>.</b> This includes the prohibition of smoking, vaping, and the consumption of alcohol in MAGFest function spaces.</li>
</ul>


<h4>Public Computers</h4>
<p>We're happy to welcome back our long time Public Computer partner <a href="https://www.empoweredpc.com/">Empowered PC</a>. and welcome our new peripherals partner <a href="https://aoc.com/us/gaming">AOC Agon</a>. They are providing 50 gaming-grade PCs and peripherals for any and all attendees to enjoy over the weekend. Rest assured that if you come to enjoy the Public Play PCs then you will achieve high frame rates this year!<p>


<h4>Location</h4>
<p>This year we return to the Maryland Ballroom. We will be continuing to use the <i>MAGLAN BarcodeSystem</i>, all for your items' security. However, <i><u>MAGFest is NOT RESPONSIBLE and accepts NO LIABILITY for ANY attendee equipment</u></i>. Please keep this in mind while attending MAGFest LAN and <b>secure your personal belongings appropriately!</b></p>

<p>Upon passing the LAN checkpoint, you will see the Public PC and LAN Theater area. The BYOC area is further back in the Maryland Ballroom.</p>

<p>We expect high demand for seats again, so arrive early to claim your spot!</p>


<h4>Tournaments</h4>
<p>Along with our events on the main MAGFest schedule, we have a selection of additional ad-hoc events. You can find all of the info on our tournaments on <a href="https://docs.google.com/spreadsheets/d/1DjW-_cQ_fyy4KaNc6Mu_cwZI-Qd0Rhv4Vy0f7PitVmo/edit#gid=0">our schedule</a>.</p>

<h4>LAN Theater</h4>
<p>Our LAN Theater is in the front of the LAN room, and is the ideal place to watch many of our great LAN events. We plan to livestream with color commentary. Come see the best gamers competing to be #1! We added an elevated stage this year. Remember to tell your friends to come cheer you on!</p>
<p>Keep an eye out for our late night content in the LAN Theater. Stop by and check out what's planned!</p>

<h4>Social Media &amp; Online Communities</h4>
<p>Join us online! You can find us at <a href="https://www.reddit.com/r/magfestlan">/r/magfestlan</a>, <a href="https://twitter.com/magfestlan">twitter.com/magfestlan</a>, and <a href="https://www.twitch.tv/magfestlan">Twitch</a>.</p>

<p>We also have a <a href="https://steamcommunity.com/groups/MAGLAN">Steam Group</a> and we've got a MAGLAN section on <a href="https://discord.gg/magfest">MAGFest's Discord</a>.</p>

<hr/>

<p>Feel free to send us an email at <a href="mailto:LAN@magfest.org">LAN@magfest.org</a> with any questions, comments or concerns.</p>

<p>Thank you again for having interest in the MAGFest LAN room and we'll see you on January 18th, 2024!</p>

<div>With love, </div>
<div>LAN / PC Gaming Staff</div>
<div>Jan 18th - 21st 2024 - Super MAGFest 2024 BYOC LAN / PC Gaming</div>

</body>
</html>
