<html>
<head>
<title></title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;">

Hello {{ attendee.first_name }},
<br/> <br/>
Super MAGFest 2023, is shaping up to be a great weekend of music and games. This year LAN is trying something new! We are changing things up and looking for more party games and quick to pick up games to play over the weekend. We are also introducing blocks of time for genres of games. Be it something to play on the LAN Theater or a game we can all play together. Obviously as our capabilities are limited, this means that the overall number of discrete tournaments has reduced, with the goal of having higher quality events and a greater focus on community interaction.
<br/> <br/>
<br/> 
<span style="font-size: 24px">Introducing LAN Villages</span>
<br/> <br/>
In helping fellow gamers find others gamers of similar interests we will be splitting the LAN room up into Villages. These are areas focused on different game genres to help you find those like-minded gamers. There will be four villages: FPS, Sims & Building, RTS & MOBA, and RPGs. This doesn't mean you can't play other games in those areas, it is just a way to help find players of similar interest. You can easily sit in the FPS section and play MMOs as much as you want!
<br/> <br/>
<br/>
<span style="font-size: 18px">Village Power Hours</span>
<br/> <br/>
To help build even more energy in the Villages we're introducing Village Power Hours. These are blocks of time dedicated to each Village throughout the weekend where those who are looking to play that Village's games can gather in the Village and find folks to play with.
<br/> <br/>
<br/> 
<span style="font-size: 18px">Become a Village Elder</span>
<br/> <br/>
To help these villages succeed we are looking for people to head up the villages, in short we need Elders to help create activities for the villages. To help these Village Elders we are setting up Village Huts. Each hut will have a tent that your village can decorate, a TV to use for gaming or watching movies and a sofa.
<br/> <br/>
If you would like to be a Village Elder, or have an idea to make LAN fun and interactive please contact <a href="mailto:LAN@magfest.org">LAN@magfest.org</a>. See you all at Super MAGFest 2023!
<br/> <br/>
<br/> 
<span style="font-size: 24px">Tournaments and Events</span>
<br/> <br/>
As alluded to earlier, we have decided to reduce the number of tournaments from the previous 12ish to 7. This obviously means that a great many games have been cut that were LAN staples, but have kept our most popular (which granted is a little Riot Games heavy). This allows us to focus the LAN Theater and Stage on a single tournament and spend more time on community-focused activities.
<br/> <br/>
The first of these is a new category we're calling LAN Adventures. These are blocks of time dedicated to games or events that don't fit cleanly into a long duration server or discrete tournament and are a more nebulous thing of let's do this thing at this time, much like we used to back when we were small. But on the schedule so you aren't sitting around waiting for stuff to happen. We're still putting the finishing touches on each day, but as a taste expect a quasi-tournament of random games late at night.
<br/> <br/>
The second is adding a couple of extra servers so there's a bit more LAN in the LAN. We already have our yearly OpenTTD game and Factorio server and are looking to expand out with some new and old LAN favorites to represent other Villages. If you have any suggestions of servers you'd like to see hosted, make sure to send them to <a href="mailto:LAN@magfest.org">LAN@magfest.org</a>.
<br/> <br/>

Feel free to send us an email at <a href="mailto:LAN@magfest.org">LAN@magfest.org</a> with any questions, comments or concerns.
<br/> <br/>
Thanks again for your interest in MAGFest LAN and we'll see you in January!
<br/> <br/>
With love, <br/>
LAN / PC Gaming Staff<br/>
Jan 5th - 8th 2023 - Super MAGFest 2023 BYOC LAN / PC Gaming
</body>
</html>
