<html>
<head></head>
<body>

{{ attendee.first_name }},
<br/> <br/>

You are receiving this e-mail because you ticked an interest in "PC Gaming" (LAN) while preregistering for MAGFest. For those who are not aware, this is a "BYOC" or Bring Your Own Computer LAN room. That means we highly recommend bringing your computer to fully enjoy the MAGFest LAN Experience. We have arranged some public play PCs this year, but there will be limited availability of those systems.

<br/> <br/>
<b><u>LOCATION</u></b>
<br/> <br/>
This year we will be in the Cherry Blossom Ballroom. There will be one entrance and exit which will optimize our ability to make sure your equipment stays put. We will once again be utilizing the "BarcodeSystem" for your items' security. However, <i><u>MAGFest is NOT RESPONSIBLE and accepts NO LIABILITY for ANY attendee equipment</u> including but not limited to computers, monitors, mice, etc. Please keep this in mind while attending MAGFest LAN and secure your personal belongings appropriately!</i>
<br/> <br/>
Space is going to be tight this year. Please arrive early on Friday to guarantee yourself a spot in the LAN.
<br/> <br/>
<b>
    <u>GENERAL RULES OF THE LAN ROOM</u>
    (These are different from previous years, so please read!)
</b>
<ul>
    <li> <b>Your monitor cannot be larger than 36 inches</b> (no large TVs please!) due to space concerns. </li>
    <li> <b>No sleeping in the LAN room.</b> Napping on your keyboard is tolerable, but no bringing in sleeping bags/cots/other things that take up space for you to crash. </li>
    <li> <b>Headphones required</b>, no speakers allowed. </li>
    <li> <b>No e-cig vaping allowed.</b> This is a hotel policy, sorry guys. </li>
    <li> <b>Please bring an Ethernet cable that is at least 25 feet in length.</b> You will be responsible for hooking up to our network, NOT US. We will have limited amounts of ethernet cable in case you forget to bring one. You may have to crimp it yourself. </li>
    <li> <b>Please bring a power strip for YOUR EQUIPMENT. <u>DO NOT DAISY CHAIN WITH OTHER PEOPLE.</u></b> We will have power strips, but we may run out. </li>
    <li> <b>Please adhere to the guidelines that are in the program guide</b> as well as the posted notices in the LAN room as far as conduct and network connections go. </li>
    <li> <b>We are limiting each leaf switch to 10 people total</b> to maximize our backbone bandwidth. Please pay attention to the labels on the switches. You should be within 20 feet from the nearest switch. We are using a star network topology. </li>
    <li> <b>Please do NOT plug in your own networking equipment</b> (switches, routers, etc). It can cause problems. Trust us. </li>
</ul>

<br/>
<b><u>ATTENDEE-PROVIDED SERVER AREA</u></b>
<br/> <br/>
This year we will have a rack for your server! We can support a few full towers, and a lot of rackmount servers. The advantage of having your server in our rack is that we will provide your server with a 1Gb port, so you can serve at high speed to the rest of the LAN network! Or, run your own game servers. Yay! We love game servers. Please bring your own rails if it's a rack-able server.
<br/> <br/>
<b><u>OUR SUB-REDDIT</u></b>
<br/> <br/>
We're trying out something new going forward to keep everyone in touch year round - and we'd like you to be a part of it! The content aggregation site Reddit is very popular among technologists and LAN'ers alike. Throughout the year, we're going to do online tournaments for fun and maybe some small prizes. We invite you to join us.
<br/> <br/>
<a href="https://www.reddit.com/r/magfestlan">https://www.reddit.com/r/magfestlan</a>

<br/> <br/>
<b><u>TOURNAMENTS</u></b>
<br/> <br/>
We are going all-out for tournaments this year. The prizes will be MPoints which you can spend in the dealers room at MAGFest. To guarantee your admission into the tournaments, we recommend bringing your own computer instead of attempting to get a spot on the public play PCs. 
<br/> <br/>
The official schedule has the games and times for the tournaments:
<a href="https://prime.uber.magfest.org/m13/schedule/">https://prime.uber.magfest.org/m13/schedule/</a>
<br/> <br/>
More information on the tournaments can also be found on our subreddit, linked above.

<br/> <br/>
<b><u>LAN THEATER</u></b>
<br/> <br/>
New to M13 is the LAN Theater. This room will be adjacent to the LAN room and will allow spectators to view and hear commentary on various LAN tournaments and activities going on - live. We hope you all enjoy this room as many staffers have been working very hard this past year to make this room a success! 

<br/><br/>
<b><u>GOT SKILLS?</u></b>
<br/> <br/>
We're always looking for new staffers and volunteers to help us run the PC Gaming areas. Got experience in commentating live games? Want to help set up the network prior to the event starting? Want to run a few tournaments? Let us know! When you register for MAGFest in the future, select that you'd like to volunteer and be sure to specify in LAN/PC Gaming!

<br/> <br/> <hr/> <br/> <br/>

Feel free to reply to this e-mail with any questions you may have.
<br/> <br/>
Thank you again for having interest in the MAGFest LAN room and we'll see you in the virtual battle zone on January 23rd, 2015! 
<br/> <br/>
With love, <br/>
-Greg and the rest of the LAN room guys </br>
Jan 23rd - 25th 2015 - MAGFest 13 LAN Room

</body>
</html>
