<html>
<head>
<title></title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;">
Hello {{ attendee.first_name }},
<p>You are receiving this email because you ticked an interest in <i>PC Gaming</i> (LAN) while pre-registering for MAGFest.</p>
<p>As the year comes to an end the MAGFest planning kicks into overdrive. This year in LAN we have a few exciting announcements for ya.</p>
<h4>Schedule</h4>
<p>Our <a href="https://docs.google.com/spreadsheets/d/1DjW-_cQ_fyy4KaNc6Mu_cwZI-Qd0Rhv4Vy0f7PitVmo">schedule</a> for this year is now available. More information, including tournament rules and further details, will be coming soon on our <a href="https://www.reddit.com/r/magfestlan/">subreddit</a> as well as added to the previously linked schedule once they are available.</p>
<h4>PC Build Competition</h4>
<p>Are you ready to show off your PC building skills? Do you want to see a bunch of cool builds and vote for your favorites? This year we're excited to announce the PC Build Competition!
Builds will be judged in the categories of technical achievement, artistic expression, and attendee choice. Attendees will be encouraged to have a leisurely stroll through the LAN, enjoy the blinkin' lights, and vote for the builds they like the best.</p>
<h4>PC Rentals</h4>
<p>Can't bring your PC to LAN? Don't want to wait for a public machine? You can still join the BYOC (bring-your-own-computer)!</p>
<p>This year we're excited to announce our friends at <a href="https://www.empoweredpc.com/">Empowered PC</a> are offering PC, monitor, and peripheral <a href="https://rentals.empoweredpc.com/">rentals</a>. Pick-up and drop-off will be on-site for ultimate convenience. Supplies will be limited so be sure to reserve soon.</p>
<h4>Counter-Strike is Back</h4>
<p>Proving once again that Valve can count to 2.</p>
<h4>Half-Life: Deathmatch Freeplay</h4>
<p>Come play HL1:DM midnight Friday in honor of Half-Life's 25th anniversary.</p>
<h4>Casting Open Call</h4>
<p>If you're interested in casting any LAN tournaments or events, fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSdCl9gTaRxT02lxWn0bU9xhD1ETc_U7vuhD2oey3OAtyWmXvQ/viewform">our casting volunteer form</a>.</p>
<h4>Server Suggestions</h4>
<p>If you have any suggestions of servers you'd like to see hosted, make sure to send them to <a href="mailto:LAN@magfest.org">LAN@magfest.org</a>.</p>
<h4>Want to Reach Out?</h4>
<p>Feel free to send us an email at <a href="mailto:LAN@magfest.org">LAN@magfest.org</a> with any questions, comments or concerns.</p>
<p>Thanks again for your interest in MAGFest LAN and we'll see you in January!</p>
<div>With love, </div>
<div>LAN / PC Gaming Staff</div>
<div>Jan 18th - 21st 2024 - Super MAGFest 2024 BYOC LAN / PC Gaming</div>
</body>
</html>
