<head>
<title></title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;">
{{ attendee.first_name }},
<p>You are receiving this email because you ticked an interest in <i>PC Gaming</i> (LAN) while pre-registering for MAGFest.</p>
<h4>Reminders</h4>
<p>We highly recommend bringing your own computer to fully enjoy the MAGFest LAN experience. <b>Please note: Due to limited availability, we do not allow tournament participation using a public play PC.</b></p>
<p>Please pre-register your LAN items by <a href="https://forms.gle/RwTPM6iXfC8JHH7V8">filling out our online form</a> to zip through initial check-in. We are primarily focused on registering <b>Desktops</b>, <b>Monitors</b>, and <b>Laptops</b>. If you plan to keep smaller devices like a Nintendo Switch or Steam Deck on you, there's no need to register them. Likewise, peripherals such as <b>keyboards</b>, <b>mice</b>, <b>headphones</b>, and other computer equipment do not need to be registered.</p>
<p>Bring an ethernet cable 20 feet long or longer. If gaming on a laptop, make sure it has a wired network port or USB network adapter. Limited quantities of network adapters will be available at the event, but we recommend preparing ahead of time.</p>
<p>Please update your OS and games before coming to MAGFest LAN. We try our best to provide enough bandwidth for everyone&mdash;saving every little bit counts. We don't want anyone stuck waiting hours for updates while friends play!</p>
<h4>MAGFest LAN Rules</h4>
<ul>
    <li><b>Please try to keep your setup contained.</b> You must be able to fit in a 30" deep by 36" wide space (half a table) if we reach capacity.</li>
    <li><b>Use headphones</b>, not speakers.</li>
    <li><b>Leave networking equipment at home.</b> We have plenty of ports.</li>
    <li><b>Bring a power strip.</b> You must only plug your power strip into the one we provide your table. DO NOT DAISY-CHAIN MULTIPLE POWERSTRIPS.</li>
    <li><b>Enter and exit only through the checkpoint.</b> Other doors are alarmed.</li>
    <li><b>Sleep in your hotel room.</b> Keyboard napping OK; sleeping bags NOT OK.</li>
    <li><b>Please adhere to the <a href='http://super.magfest.org/codeofconduct/'>MAGFest Code of Conduct</a>.</b> This includes the prohibition of smoking, vaping, and the consumption of alcohol in MAGFest function spaces.</li>
</ul>
<h4>Public Computers</h4>
<p>We're happy to welcome back our longtime Public Computer partner <a href="https://www.empoweredpc.com/">Empowered PC</a> and newcomer <a href="https://fragadelphia.com/">Fragadelphia</a> who are providing nearly one-hundred Public Play PCs. We would also like to thank <a href="https://www.coolermaster.com/en-global/catalog/gaming-accessories/">Coolermaster</a> and <a href="https://pixiogaming.com/">Pixio</a> for providing monitors and peripherals. Please note that we do not permit tournament play on Public Play PCs due to limited availability.</p>
<h4>Location</h4>
<p>This year we return to the Maryland Ballroom. We will continue to use the <i>MAGLAN BarcodeSystem</i> for item security. However, <i><u>MAGFest is NOT RESPONSIBLE and accepts NO LIABILITY for ANY attendee equipment</u></i>. Please keep this in mind while attending MAGFest LAN and <b>secure your personal belongings appropriately!</b></p>
<p>Upon passing the LAN checkpoint, you will find the Public PC and LAN Theater areas. The BYOC section is located further back in the Maryland Ballroom.</p>
<p>We expect high demand for seats again, so arrive early to claim your spot!</p>
<h4>Tournaments</h4>
<p>Along with our events on the main MAGFest schedule, we have an exciting selection of tournaments, including:</p>
<ul>
    <li>Ultrakill Score Attack</li>
    <li>Quake 3</li>
    <li>Nidhogg 2</li>
    <li>Jackbox Party Pack</li>
    <li>Starcraft 2</li>
    <li>Deadlock</li>
    <li>Counter-Strike 2</li>
    <li>Teamfight Tactics</li>
    <li>League of Legends</li>
</ul>
<p>You can find all the details and rules on <a href="https://docs.google.com/spreadsheets/d/1__i5IQWIaQ6KiNLzWXPbB0vl_zBDbHXN8RrUJoRLHOo/edit?usp=sharing">our schedule</a>.</p>
<h4>LAN Theatre</h4>
<p>Our LAN Theatre is in the front of the LAN room and is the ideal place to watch many of our great LAN events. We plan to livestream with commentary. Come see the best gamers competing to be #1! Don't forget to invite your friends to cheer you on!</p>
<p>Late-night content is back in the LAN Theatre as well&mdash;stop by and check out what's planned!</p>
<h4>Panels</h4>
<p>This year, we're featuring a stellar lineup of LAN-focused panels, including:</p>
<ul>
    <li>Pixelflut for Dummies</li>
    <li>History of the LAN</li>
    <li>How to Plan and Run a Tournament</li>
    <li>Building a PC with EmpoweredPC</li>
</ul>
<h4>Social Media &amp; Online Communities</h4>
<p>Join us online! You can find us at:</p>
<ul>
    <li><a href="https://www.reddit.com/r/magfestlan">/r/magfestlan</a></li>
    <li><a href="https://x.com/MAGFestLAN">X (Twitter)</a></li>
    <li><a href="https://www.twitch.tv/magfestlan">Twitch</a></li>
    <li><a href="https://steamcommunity.com/groups/MAGLAN">Steam Group</a></li>
    <li><a href="https://discord.gg/magfest-208750176540688384">MAGFest's Discord</a></li>
</ul>
<hr/>
<p>Feel free to send us an email at <a href="mailto:LAN@magfest.org">LAN@magfest.org</a> with any questions, comments, or concerns.</p>
<p>Thank you again for your interest in the MAGFest LAN room. We'll see you from January 23rd to January 26th, 2025!</p>
<div>With love, </div>
<div>LAN / PC Gaming Staff</div>
<div>Jan 23rd - 26th 2025 - Super MAGFest 2025 BYOC LAN / PC Gaming</div>
</body>
</html>
