<html>
<head>
<title></title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;">
Hello {{ attendee.first_name }},
<p>You are receiving this email because you ticked an interest in <i>PC Gaming</i> (LAN) while pre-registering for MAGFest.</p>
<p>As the year comes to an end, the MAGFest planning kicks into overdrive. This year in LAN, we have some exciting announcements to share with you!</p>
<h4>Schedule</h4>
<p>Our <a href="https://docs.google.com/spreadsheets/d/1__i5IQWIaQ6KiNLzWXPbB0vl_zBDbHXN8RrUJoRLHOo/edit?usp=sharing">tournament schedule</a> for this year is now available! While times are still being finalized, you can start planning for the action now. More details, including tournament rules, will be shared on our <a href="https://www.reddit.com/r/magfestlan/">subreddit</a> and added to the schedule as they become available.</p>
<h4>PC Build Competition</h4>
<p>Are you ready to show off your PC building skills? Or do you simply want to marvel at some cool creations? This year, we’re excited to announce the return of the <b>PC Build Competition</b>!
Builds will be judged in categories such as technical achievement, artistic expression, and attendee choice. Take a leisurely stroll through the LAN room, enjoy the blinkin’ lights, and vote for your favorites!</p>
<h4>PC Rentals</h4>
<p>Can't bring your PC to LAN? Don’t worry—you can still join the BYOC (bring-your-own-computer)!
Our friends at <a href="https://www.empoweredpc.com/">EmpoweredPC</a> are offering PC, monitor, and peripheral <a href="https://bit.ly/empoweredpcrentals">rentals</a>. Pick-up and drop-off will be on-site for your convenience. Supplies are limited, so make sure to reserve soon! Deadline is January 1st, 2025</p>
<h4>Featured Games</h4>
<p>This year’s lineup includes an amazing selection of games for tournaments and free play:</p>
<ul>
    <li>Ultrakill Score Attack</li>
    <li>Quake 3</li>
    <li>Nidhogg 2</li>
    <li>Jackbox Party Pack</li>
    <li>Starcraft 2</li>
    <li>Deadlock</li>
    <li>Counter-Strike 2</li>
    <li>Teamfight Tactics</li>
    <li>League of Legends</li>
</ul>
<h4>Panels</h4>
<p>We’re thrilled to offer an engaging lineup of LAN-focused panels in our Theatre, including:</p>
<ul>
    <li>Pixelflut for Dummies</li>
    <li>History of the LAN</li>
    <li>How to Plan and Run a Tournament</li>
    <li>Building a PC with EmpoweredPC</li>
</ul>
<h4>Casting Open Call</h4>
<p>Are you interested in casting tournaments or events? Fill out our <a href="https://forms.gle/PagiG864dozT7qYW9">casting volunteer form</a> to be considered!</p>
<h4>Server Suggestions</h4>
<p>If you have ideas for game servers you'd like to see hosted, send your suggestions to <a href="mailto:LAN@magfest.org">LAN@magfest.org</a> or you can join our Discord: https://discord.gg/magfest</p>
<h4>Want to Reach Out?</h4>
<p>If you have any questions, comments, or concerns, feel free to send us an email at <a href="mailto:LAN@magfest.org">LAN@magfest.org</a>. We also encourage you to join us on Discord so we can chill together!</p>
<p>Thank you again for your interest in MAGFest LAN. We can’t wait to see you at Super MAGFest 2025, happening January 23rd - January 26th, 2025!</p>
<div>Warm Regards,</div>
<div>LAN / PC Gaming Staff</div>
<div>January 23rd - 26th, 2025 - Super MAGFest BYOC LAN / PC Gaming</div>
</body>
</html>
