<html>
<head></head>
<body>

You are receiving this e-mail because you are pre-registered to attend {{ c.EVENT_NAME_AND_YEAR }}.
Please refer to this FAQ for instructions on how to get your badge, and how to view the schedule.

<br/> <br/>

<p><b>Where do I go when I arrive? How do I pick up my pass?</b><br />
The first step is to go to the registration desk, located in Expo Hall E to pick up your pass. The registration desk is open 24 hours a day from Thursday 10am - Sunday 3pm. Follow the green line in <a href="http://magfest.org/static/images/maps/m16toreg.png" target="_blank"><b>this map</b></a> to help find your way to registration from any of the three entrances to the hotel. If you pre-registered, simply show photo id such as a driver's license, military id, or student id to the registration staffers. If you do not have photo id, print out the confirmation e-mail you received when you pre-registered.</p>
<p><b> Will passes be sold at the door?</b><br />
Yes, but there is a possibility of us selling out, so check our website for any ticket availability alerts. Full four-day passes will be available for $80, and one day passes will be available for $40 for Thursday, $45 for Friday, $45 for Saturday, and $25 for Sunday.</p>
<p><b>Which registration line do I use?</b><br />
- If you are not already registered for a pass, you can <a href="http://magfest.org/register" target="_blank"><b>purchase one online</b></a>, or use the self-service registration and payment stations located on the left side of Expo Hall E. Cash and Credit are accepted. Once you are registered and paid, proceed to the badge pickup line inside Expo Hall E.<br />
- Staff, Supporters, Guests, Vendors, Indie showcase exhibitors, and Panelists should use the VIP Badge Pickup line inside Expo Hall E<br />
- All other attendees (including those who purchased group registrations, press, or those who registered at-door) should use the Standard Badge Pickup line inside Expo Hall E</p>
<p><b>Where can I pick up swag that I pre-ordered, such as a t-shirt or supporter bundle?</b><br />
After you've picked up your pass, you can pick up your swag at the MAGFest merch booth. The merch booth is located in the center of the the ballroom level, in the "Camelia 4" room. Follow the red line in <a href="http://magfest.org/static/images/maps/m16tomerch.jpg" target="_blank"><b>this map</b></a> to help find your way to the merch booth from the registration area.</p>
<p><b>Where can I view a schedule of events?</b><br />
There are multiple ways to view our schedule.</p>
<p><i>Using the Guidebook app or website (desktop or mobile)</i>: Go to the  <a href="http://schedule.magfest.org/" target="_blank">Guidebook website</a> to view the guidebook in your web browser or download the mobile app. Make sure to check for guidebook updates periodically through the weekend, as we may make schedule changes.</p>
<p><i>Using our scheduling system (recommended desktop only)</i>: Our <a href="https://prime.uber.magfest.org/uber/schedule/" target="_blank">online schedule</a> is best viewed on desktop computers.</p>
<p><i>Print your own schedule</i>: We have 11x17 a double-sided tri-fold formatted <a href="http://magfest.org/static/files/M2016_Schedule.pdf" target="_blank">print schedule</a> that will be available in our registration area. Since schedules are posted outside individual rooms, and are also available online, we will only have limited quantities of the printed schedule available. To be safe, please print your own copy of the schedule if you rely on having a hard copy handy.</p>
<p><b>Do you provide refunds or ticket transfers?</b><br />
We do not provide refunds, but we do allow you to sell or transfer your ticket to anyone you wish. E-mail <a href="mailto:regsupport@magfest.org">regsupport@magfest.org</a> from the original e-mail address you registered with (or provide the original e-mail) along with your full name, and we will send you a link to transfer your ticket as soon as we can.</p>
<p><b>Only questions about ticket transfers, ticket confirmations, or general registration questions should be e-mailed to the registration desk e-mail address. We are unable to answer questions for any other matters sent to this address.</b></p>
<p><em>Answers to more Frequently Asked Questions can be found on <a href="http://magfest.org/faq/" target="_blank">our website</a>.</em></p>

</body>
</html>
