<html>
<head></head>
<body>

You are receiving this e-mail because you are pre-registered to attend {{ c.EVENT_NAME_AND_YEAR }}.
Please refer to this FAQ for instructions on how to get your badge, and how to view the schedule.

<br/> <br/>

<p>
    <b>Where do I go when I arrive? How do I pick up my badge?</b><br />
    When you arrive at MAGFest, go to Registration, located in Expo Hall E, to pick up your badge. Once Registration opens on Thursday morning, usually at 10:00 AM, it will stay open until Sunday afternoon at 1:00 PM, with three exceptions. Registration will close between 4:00AM and 7:00AM Friday, Saturday, and Sunday mornings. Please bring a government-issued photo id such as a driver's license or military id.
</p>
<p>
    <b> Will additional badges be sold at the door?</b><br />
    Yes, but there is a possibility of us selling out, so check our website for any badge availability alerts.
</p>
<p>
    <b>Which registration line do I use?</b>
    <ul>
        <li>Staff, Bands, Guests, Vendors, Indie showcase exhibitors, and Volunteers share the same line. Look for the signage inside Expo Hall E.</li>
        <li>All other pre-registered attendees (including those who purchased group registrations) should use the "Pre-Registration Badge Pickup" line inside Expo Hall E.</li>
        <li>If you are accompanied by people who have not pre-registered, they can <a href="{{ c.URL_BASE }}/preregistration/form" target="_blank"><b>purchase one online</b></a>.</li>
    </ul>
</p>
<p>
    <b>Where can I pick up swag that I pre-ordered, such as a t-shirt or supporter bundle?</b><br />
    After you've picked up your badge, you can pick up your swag at the MAGFest merch booth. The merch booth is located at the front of Expo Hall C. Use <a href="https://images.squarespace-cdn.com/content/v1/58f0f670ff7c50d19776494d/642d3da1-587d-448b-90a3-ff95cdbf1028/2024-Map.jpg" target="_blank"><b>this map</b></a> to help find your way to the merch booth from the registration area.
</p>
<p>
    <b>Where can I view a schedule of events?</b><br />
    There are multiple ways to view our schedule:</p>
    <ul>
        <li><i>Using the Guidebook app or website (desktop or mobile)</i>: Go to the  <a href="https://super.magfest.org/schedule" target="_blank">Guidebook website</a> to view the guidebook in your web browser or download the mobile app. Make sure to check for guidebook updates periodically through the weekend, as we may make schedule changes.</li>
        <li><i>Paper schedules</i>: Printed schedules will be available in limited quantities at Registration and our Info Desk. Please consider using guidebook instead to save paper.</li>
    </ul>
</p>
{% if attendee.is_transferable %}
    <p>
        <b>Do you provide refunds or badge transfers?</b><br />
        We do not provide refunds, but we do allow you to sell or transfer your badge to anyone you wish.
        You can <a href="{{ c.URL_BASE }}/preregistration/transfer_badge?id={{ attendee.id }}" target="_blank">use this link</a> to transfer your badge.
    </p>
{% endif %}
<p><em>Answers to more Frequently Asked Questions can be found on <a href="https://super.magfest.org/faq/" target="_blank">our website</a>.</em></p>

</body>
</html>
