<html>
<head></head>
<body>

You are receiving this email because you are preregistered to attend {{ c.EVENT_NAME_AND_YEAR }}.
Please refer to this email for up-to-date instructions on how to get your badge, where to pick up pre-ordered merch, how to view the schedule, and other useful information.

<br/> <br/>

<p>
    <b>Where do I go when I arrive? How do I pick up my badge?</b><br />
    {{ c.EVENT_NAME_AND_YEAR }} is closed-profile, which means that
    <strong>only preregistered attendees with valid badges will be permitted to enter the Gaylord during the event</strong>.
    Please retain this email, as it will serve as your proof of registration before you pick up your badge onsite. 
    The full details are available on our website at 
    <a href="https://super.magfest.org/attend/closed-profile/" target="_blank">https://super.magfest.org/attend/closed-profile/</a>.
    <br/><br/>
    Once you are inside, go to Registration in Expo Hall E* to pick up your badge. Once Registration opens, it will stay open until Sunday at 11AM, with the exception of 4AM - 7AM each morning. Please bring a government-issued photo ID such as a driver's license or military ID.
    <br/>*Note: If you will be arriving after Friday at 7AM, you will instead be directed to enter via the doors closest to the Maryland Ballroom (under the breezeway to the parking garage), where we will have a Registration Outpost to accommodate closed-profile restrictions.
    <a href="https://super.magfest.org/attend/closed-profile/">Please see our website for more information and a map.</a>
</p>
<p>
    <b>Will additional badges be sold at the door?</b><br />
    Due to low inventory, badge sales WILL NOT be available onsite for MAGFest {{ c.EVENT_YEAR }}.
</p>
<p>
    <b>Which registration line do I use?</b>
    <ul>
        <li>Contractors, Staff, Volunteers, Performers, Guests, Dealers, and Indie Developers share the same line. Look for the signage inside Expo Hall E.</li>
        <li>All other pre-registered attendees should use the "Pre-Registration Badge Pickup" line inside Expo Hall E.</li>
    </ul>
</p>
<p>
    <b>Where can I pick up the merch that I pre-ordered?</b><br />
    After you've picked up your badge, you can pick up your swag at the front of Expo Hall E.
</p>
<p>
    <b>Where can I find all the other cool stuff happening after I pick up my badge and merch?</b><br/>
    Use <a href="https://super.magfest.org/map" target="_blank">this map</a> to help find your way around the event.
</p>
<p>
    <b>Where can I view a schedule of events?</b><br />
    Go to the <a href="https://super.magfest.org/schedule" target="_blank">Guidebook website</a> to view the guidebook in your web browser or download the mobile app. Make sure to check for guidebook updates periodically through the weekend, as we may make schedule changes.
</p>
{% if attendee.is_transferable %}
    <p>
        <b>Do you provide refunds or badge transfers?</b><br />
        We do not provide refunds, but we do allow you to sell or transfer your badge to anyone you wish.
        You can <a href="{{ c.URL_BASE }}/preregistration/transfer_badge?id={{ attendee.id }}" target="_blank">use this link</a> to transfer your badge.
    </p>
{% endif %}
<p><em>Answers to more Frequently Asked Questions can be found on <a href="https://super.magfest.org/faq/" target="_blank">our website</a>.</em></p>

</body>
</html>
