<html>
<head></head>
<body>
<p>
    Dear {{ attendee.full_name }},
    <br/>On behalf of our Board of Directors, employees, and volunteer staff, thank you for becoming a MAGFest Superstar! Your contribution helps support our mission to make the world a better place through video games.
</p>
<p>
    MAGFest, Inc. has been achieving this mission through numerous events, such as Super MAGFest, MAGWest, MAGStock, and Bit Gen Gamer Fest, and by building and empowering a huge community of volunteers, partners, and participants. MAGFest supports this community by highlighting VGM musicians, indie developers, and creatives, as well as uniting those who are eager to relive nostalgia with those who mutually appreciate videogames. In recent years, we have also launched the MAGScouts initiative, which highlights family-friendly content throughout the event, and have increased our educational offerings in Makerspace, Jam Clinic, Panels and more.
</p>
<p>
    With your donation, you are helping us to grow these events, create new content, educate more people about video game music, art, and history, and you are also supporting the continued preservation of video game culture and history. If you are interested in learning more about how you can continue supporting our mission, please reach out to us at {{ 'superstars@magfest.org'|email_to_link }}, and look out for another email in the coming weeks about fulfilling your Superstars perks for MAGFest {{ c.EVENT_YEAR }}!
</p>
<p>
    You should receive an email as an official receipt for tax purposes, titled "MAGFest {{ c.EVENT_YEAR }} Superstar Donation Receipt."
    If you donated multiple times (e.g., you upgraded an existing donation), you'll receive one email for each time you donated.
</p>
<p>Thank you again for your thoughtful and generous contribution.</p>
<p>
    Sincerely,
    <br/><br/>Christina Ralls
    <br/>Director of Business and Development
    <br/>MAGFest, Inc.
</p>
</body>
</html>