
<script>
    if (window.BADGE_TYPES) {
        window.BADGE_TYPES[0].description = 'Allows access to the festival for its duration.';
    }

    $(function() {
        $('#tshirt-size-guide').insertAfter($.field('shirt'));
        $('#group-explanation').insertAfter($.field('badges').parents('.form-group'));
    });
</script>

<div id="tshirt-size-guide">Size guides:
    <a href="http://www.mygildan.com/Categories/T-Shirts/Short-Sleeve//p/2000" target="_blank">Unisex</a>,
    <a href="http://www.mygildan.com/Categories/T-Shirts/Short-Sleeve//p/2000L" target="_blank">Female</a>
</div>

<div id="group-explanation" class="form-group">
    <p class="col-sm-8 col-sm-offset-1">
    Please enter the information for the group leader (additional group member information will be entered after purchase is complete):
    </p>
</div>