.masthead {
    padding-top: 25.68%; /* The height is 25.68% of the width (197px / 767px) */
}


img.tier-icon {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 0;
    padding: 50px 0 0 50px;
    vertical-align: middle;
    width: 0;
}

img.tier-icon-shirt { background-image: url("../icons/shirt.png"); }
img.tier-icon-supporter { background-image: url("../icons/supporter.png"); }
img.tier-icon-super { background-image: url("../icons/super.png"); }

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .masthead { background-image: url("../theme/banner_2x.png"); }
}

.masthead-text {
    color: #fff;
    font-size: 1.5em;
    padding-bottom: 2%;
}

.text-left .masthead-text-item,
.text-center .masthead-text-item {
    padding-left: 10px;
}

.text-right .masthead-text-item {
    padding-left: 10px;
    padding-right: 10px;
}

.bling-icon:before {
  content: "✷";
}

@media (max-width: 767px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
}

#toast-container > div {
    -moz-box-shadow: 0 0 16px #000;
    -webkit-box-shadow: 0 0 16px #000;
    box-shadow: 0 0 16px #000;
    opacity: 0.9;
    font-size: 1.15em;
}

body {
    background-color: #060404;
    }
