{% extends 'uber/templates/forms/hotel/suite_lottery.html' %}

{% block suite_ranking_desc %}
{{ super() }}
<p>
    {% if c.STAFF_HOTEL_LOTTERY_OPEN and application.qualifies_for_staff_lottery %}
    Suite entries are processed during the attendee lottery.
    You will receive the standard room that you select in the next step.
    Then, if you win a suite in the attendee lottery, your room booking will be cancelled and you will receive instructions on how to book your suite.
    {% else %}
    Suite entries are processed first and prioritized above standard room entries in the lottery.
    {% endif %}
</p>
{% endblock %}
