<!DOCTYPE html>
<html>
<head>
    <title>MAGStock Volunteers</title>
</head>
<body>

<h3 align="center"> MAGStock Volunteering </h3>

MAGStock relies on a small core of volunteers who are so into the event that they want to pitch in
just to make cool things happen.  If it's your first year, we recommend you NOT volunteer so that
you'll have more time to enjoy all the awesomeness without needing to worry about being in a
specific place at a particular time.

<br/> <br/>

There's no volunteer compensation other than a mini swag bag, featuring some items from the Supporter
pack.  And of course the thanks from your grateful organizers who love it when awesome people pitch
in to do great things!

</body>
</html>
