
<script type="text/javascript">
    {% if c.SHIRT_LEVEL in c.PREREG_DONATION_TIERS %}
        BADGE_TYPES.splice(1, 0, {
            title: 'Shirt: ${{ c.BADGE_PRICE|add:c.SHIRT_LEVEL }}',
            description: 'Get a MAGStock tshirt as thanks for your extra donation.',
            extra: {{ c.SHIRT_LEVEL }}
        });
    {% endif %}
    var showOrHideAllergies = function () {
        setVisible('#allergies', $.field('purchased_food').is(':checked'));
    };
    var showOrHideComingWith = function () {
        var showComingWith = !!$.val('coming_as');
        setVisible('#comingwith', showComingWith);
        if (showComingWith) {
            if ($.val('coming_as') === {{ c.TENT_LEADER }}) {
                $('#comingwith label').text('Who is in your group?');
                $('#comingwith :text').attr('placeholder', 'Full legal names of everyone in your group');
            } else {
                $('#comingwith label').text('Who your Tent Leader?');
                $('#comingwith :text').attr('placeholder', 'Full legal name of your Tent Leader');
            }
        }
    };
    $(function () {
        $('#food').insertBefore($.field('staffing').parents('.form-group'));
        $('#extra-fields').insertAfter($.field('zip_code').parents('.form-group'));
        showOrHideAllergies();
        showOrHideComingWith();
        $.field('coming_as').on('change', showOrHideComingWith);
        $.field('purchased_food').on('click', showOrHideAllergies);
        $.field('badge_printed_name').parents('.form-group').remove();
    });
</script>

{% if c.PAGE_PATH == '/registration/form' or c.FOOD_AVAILABLE %}
    <div id="food">
        <div class="form-group">
            <label class="col-sm-2 control-label">Want to Buy Food?</label>
            <div class="col-sm-6">
                {% checkbox attendee.purchased_food %} Pay an extra <b>${{ c.FOOD_PRICE }}</b> for food.
                {% popup_link "../static/food_menu.html" "What's on the menu?" %}
            </div>
        </div>

        <div class="form-group" id="allergies">
            <label class="col-sm-2 control-label optional-field">Allergies</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="allergies" value="{{ attendee.allergies }}" placeholder="Your dietary restrictions, if applicable" />
            </div>
        </div>
    </div>
{% endif %}

<div id="extra-fields">
    <div class="form-group">
        <label class="col-sm-2 control-label">Noise Level</label>
        <div class="col-sm-6">
            <select name="noise_level">
                <option value="">Select your preferred level of nighttime noise</option>
                {% options c.NOISE_LEVEL_OPTS attendee.noise_level %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Site Type</label>
        <div class="col-sm-6">
            <select name="site_type">
                <option value="">Select your preferred site type</option>
                {% options c.SITE_TYPE_OPTS attendee.site_type %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">How are you camping?</label>
        <div class="col-sm-6">
            <select name="camping_type">
                <option value="">Please select a type of enclosure</option>
                {% options c.CAMPING_TYPE_OPTS attendee.camping_type %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Who is your Tent Leader?</label>
        <div class="col-sm-6">
            <select name="coming_as">
                <option value="">Who is coordinating your tent/cabin?</option>
                {% options c.COMING_AS_OPTS attendee.coming_as %}
            </select>
        </div>
    </div>

    <div id="comingwith" class="form-group" style="display:none">
        <label class="col-sm-2 control-label">Who's staying with you?</label>
        <div class="col-sm-6">
            <input type="text" name="coming_with" value="{{ attendee.coming_with }}" class="form-control" placeholder="Full legal names of who you're camping with">
        </div>
    </div>
</div>
