{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Department Checklist - Room Signage{% endblock %}
{% block content %}
{% set item = department.checklist_item_for_slug('printed_signs') %}

<h2>Room Signage for {{ department.name }}</h2>

<p><strong>READ BEFORE SUBMITTING!</strong></p>

Steps:
<ol>
    <li>
        Open the <a href="https://docs.google.com/spreadsheets/d/1_bRpHEEsFEqgyT6vKawHMmAYirkx-is2jc3sG7hetm8/edit?usp=sharing" target="_blank">Signage Inventory spreadsheet</a>.
        Note: You MUST use your MAGFest login to view the spreadsheet. If you have trouble, please post in #super-signage.
    </li>
    <li>Review the signs we currently have in inventory for your department.
        <li>If you see a sign your department no longer needs, please right click the cell with the Primary Text, and add the comment “No longer needed”</li>
        <li>Feel free to add additional comments in the Notes cell of each sign.</li>
    </li>
    <li>If you need to request a sign, first use the ctrl+f find feature to see if we already have your requested sign.</li>
    <li>
        If we don't have the requested sign in inventory, please fill out this <a href="{{ conf.external_form_url }}" target="_blank">Signage Request Form</a>.
    </li>
    <li>Continue to use the Signage Request Form for each additional sign you'd like to request.</li>
    <li>For any questions, please post in #super-signage.</li>
</ol>

<p>Signage comes in three types: 12"x18" coroplast, 24"x36" coroplast, and 33"x80" retractable floor banner. All attendee-facing rooms will automatically receive either a 24"x36" coroplast or 33"x80" retractable sign for outside of the room. Please submit requests for additional signage ONLY.</p>

<p>The signage department reserves the right to reduce or decline requests according to their discretion. We will contact you if significant changes to your order are necessary. Please post in #super-signage for any questions, or any odd/complicated requests.</p>

<p>Note: This checklist item is NOT for printed materials such as sign-up forms, waivers, or anything else that goes on standard office paper. STOPS has a paper cutter and a printer for small jobs (less than 50 pages). Anything more than 50 pages needs to go into the Bulk Print Jobs checklist item.</p>

<form method="post" action="form">

<input type="hidden" name="department_id" value="{{ department.id }}" />
<input type="hidden" name="slug" value="printed_signs" />
{{ csrf_token() }}
<button type="submit" name="comments" value="">I Have Filled Out the {{ conf.name }} Form</button>
</form>

{% endblock %}
