{% extends "uber/templates/base.html" %}{% set admin_area=True %}
{% block title %}Department Checklist - Room Signage{% endblock %}
{% block content %}
{% set item = department.checklist_item_for_slug('printed_signs') %}

<h2>Room Signage for {{ department.name }}</h2>

<p><strong>PLEASE READ BEFORE SUBMITTING!</strong></p>

<form method="post" action="form">
<p>Before requesting any signage, please review the current <a href="https://docs.google.com/spreadsheets/d/18KOcfyXT0oXg8VEDu-DKX_NnkNw8NS6u4WXF3omCRWA/edit#gid=0" target="_blank">Signage Inventory</a> to see if we already have your requested sign. (Use the ctrl+f find feature to search throughout the document.) You must use your MAGFest account to view the document.</p>

<p>All attendee-facing rooms will automatically receive either a 24"x36" coroplast or 33"x80" retractable sign for outside of the room. Please submit requests for <strong>additional signage ONLY</strong> here.</p>

<p><strong>– DO NOT REQUEST A SIGN THAT IS ALREADY LISTED IN THE SIGNAGE INVENTORY DOCUMENT –</strong></p>

<p>Signage comes in three types: 12"x18" coroplast, 24"x36" coroplast, and 33"x80" retractable floor banner. Be sure to specify FOR EACH SIGN:</p>
<ul>
    <li>Number needed</li>
    <li>Size of sign</li>
    <li>Primary text of sign</li>
    <li>Sub text of sign (if applicable)</li>
    <li>Intended placement location for sign</li>
    <li>Link to any custom artwork that is needed</li>
    <li>Any additional notes</li>
</ul>

<p>The signage department reserves the right to reduce or decline requests according to their discretion. We will contact you if significant changes to your order are necessary. Please post in #super-signage for any questions, or any odd/complicated requests.</p>

<p>Note: This checklist item is NOT for printed materials such as sign-up forms, waivers, or anything else that goes on standard office paper. STOPS has a paper cutter and a printer for small jobs (less than 50 pages). Anything more than 50 pages needs to go into the Bulk Print Jobs checklist item.</p>

<input type="hidden" name="department_id" value="{{ department.id }}" />
<input type="hidden" name="slug" value="printed_signs" />
{{ csrf_token() }}
<textarea name="comments" rows="5" cols="80">{{ item.comments|default('', boolean=True) }}</textarea>
<br/>
<input type="submit" value="Upload Room Signage" />
{% if item.is_new %}
    <br/><i>Note: please submit this even if this doesn't apply to you so we know you don't need anything from us.</i>
{% endif %}
</form>

{% endblock %}
