<!doctype html>
<html>
<head>
  <title>Barrel Roller</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Barrel Roller</h1>

<p>
  This one's only for the truest of MAG fans. For $200, you will receive
  four of the most insane items we've ever made: resin cast figures of each 
  of the characters in the Sun Cats crew.
</p>
<p>
  Each figure is modeled N64-style and expertly posed on a stand, with a
  writeable NFC tag in the base. Easily some of the coolest swag we've ever
  had at MAGFest.
</p>

<img src="../static/swag/barrel_roller_preview.jpg">

</body>
</html>
