<!doctype html>
<html>
<head>
  <title>Become a MAG Superstar!</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; text-align: center; }
  </style>
</head>
<body>
    <a href="https://super.magfest.org/magfest-superstars-info-page" target="_blank"><img src="{{ c.URL_BASE }}/static/swag/superstar.png" width="400" alt="Become a Superstar" /></a>
    <p>Donate to MAGFest and become a Superstar! With a donation of $30 or more, you’ll be listed as a Superstar donor on our website, have your name appear on the at-event Jumbotron, gain an exclusive Superstar role on our Discord server, and more.</p>
    <p>Feeling even more generous or want additional info? Check out our expanded tiers and benefits (including sponsoring your own Graffiti Banner) on our Superstar page above.</p>
    <strong>Donations are not merch packages and do not come with merchandise.</strong> MAGFest, Inc. is a 501(c)(3) charitable organization, so your donation is tax-deductible. For more information, please contact {{ "accounting@magfest.org"|email_to_link }}.
</body>
</html>