<!doctype html>
<html>
<head>
  <title>Guidebook Tracks Guide</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    .d-flex { display: flex; }
  </style>
</head>
<body>

<h1>Guidebook Tracks</h1>

<p>
    We have two types of tracks for Guidebook schedule items: department tracks and content/warning/tag tracks.
    Many tracks are automatically added for panels, but you can add tracks to any event on the schedule.
    You can type in the Tracks field to search for different tracks. See below for a full list of available tracks.
</p>

<div class="d-flex">
    <div style="padding:10px;">
        <strong>Department Tracks</strong>
        <ul>
            <li>CArena</li>
            <li>CCG</li>
            <li>Chipspace</li>
            <li>Cosplay</li>
            <li>D&D Adventurers League</li>
            <li>Guests</li>
            <li>Jam Clinic</li>
            <li>Jamspace</li>
            <li>LAN</li>
            <li>LARP</li>
            <li>MAGES</li>
            <li>magFAST</li>
            <li>MAGPIE</li>
            <li>MAGScouts</li>
            <li>Makerspace</li>
            <li>Music</li>
            <li>Orchestra</li>
            <li>Panels</li>
            <li>Pathfinder</li>
            <li>POSE</li>
            <li>Simulations</li>
            <li>Tabletop</li>
            <li>VRChat</li>
            <li>VRZone</li>
            <li>Zombie Tag</li>
            <li>Indie Arcade</li>
            <li>Trinket Trade</li>
        </ul>
    </div>
    <div style="margin-left:20px; padding:10px;">
        <strong>Content/Warnings/Tag Tracks</strong>
        <ul>
            <li>Autographs</li>
            <li>Concerts</li>
            <li>Free Play</li>
            <li>Meet & Greet</li>
            <li>Photoshoots</li>
            <li>Role Play</li>
            <li>Tournaments</li>
            <li>Open Mic</li>
            <li>Alcohol/Drug Reference</li>
            <li>All Ages</li>
            <li>Animated Blood</li>
            <li>ASL Interpreter</li>
            <li>Audience Participation</li>
            <li>Blood and Gore</li>
            <li>Mature Language</li>
            <li>Mature/Crude Humor</li>
            <li>Sexual Content/Themes</li>
            <li>Violence</li>
            <li>Noise Level 0 (Just talking to the audience)</li>
            <li>Noise Level 1 (Showing video clips or playing prerecorded music)</li>
            <li>Noise Level 2 (Playing live instruments or singing)</li>
            <li>Noise Level 3 (Absolute chaos)</li>
            <li>Physical Activity</li>
            <li>Lecture</li>
            <li>Workshop</li>
            <li>Group Discussion with Moderator</li>
            <li>Q & A</li>
            <li>Gameshow</li>
            <li>Learn to Play</li>
            <li>Comedy</li>
            <li>Karaoke/Sing-a-Long</li>
            <li>Nudity</li>
            <li>Door Fee/Material Fee</li>
            <li>Pre-Registration Required</li>
            <li>Speedruns</li>
        </ul>
    </div>
</div>

<p>
    It may be helpful to have all events in one location start with a set of default tracks.
    To do this, click "Edit Location" on the schedule page, then add the tracks you want as defaults to the location.
    All new events created in that location will start with those tracks.
</p>

<p>To request additional tracks, please contact the Guidebook team.</p>

</body>
</html>