<!doctype html>
<html>
<head>
    <title>Invitation</title>
</head>
<body>

<h3 align="center">Invitation</h3>

<p>
    People always ask us how they can donate even more money to us to get even cooler stuff. Lightsuits, guitars, wood etched posters -- we make some crazy stuff in super limited quantities for the people who want it the most. Do you routinely make poor financial decisions? Are you prone to erratic unpredictable actions? Then this definitely is something that you need to read. As part of your purchase of this tier, you will also receive an exclusive invitation to purchase a yet-unannounced top tier badge upgrade that'll leave all your friends jealous, and also look very nice displayed on your wall! Invitations will be sent out later this year.
</p>
</body>
</html>
