<!doctype html>
<html>
<head>
  <title>Invitation</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Invitation</h1>

<p>
  People always ask us how they can donate even more money to us to get even
  cooler stuff. Lightsuits, guitars, wood etched posters -- we make some crazy
  stuff in super limited quantities for the people who want it the most.
</p>
<p>
  Do you routinely make poor financial decisions? Are you prone to erratic
  unpredictable actions? Then this definitely is something that you need to
  read.
</p>
<p>
  As part of your purchase of this tier, you will also receive an
  exclusive invitation to purchase a yet-unannounced top tier badge upgrade
  that'll leave all your friends jealous, and also look very nice displayed on
  your wall! Invitations will be sent out later this year.
</p>

<img src="../static/swag/invitation.jpg">

</body>
</html>
