<!doctype html>
<html>
<head>
    <title> Season Passes </title>
</head>
<body>

<h3 align="center"> {{ c.EVENT_YEAR }} Supporter Season Passes </h3>

When you buy a Season Pass, you get free Attendee badges to all events run by {{ c.EVENT_NAME }}.  This includes
<a target="_blank" href="http://magstock.net/">MAGStock</a>, 
<a target="_blank" href="http://classic.magfest.org/">MAGClassic</a>, and
Game Over events held in {{ c.EVENT_YEAR }}. These badges do not include any extras, though you may kick in extra to upgrade them after you claim your badge.

<br/> <br/>

You'll be emailed before each event and given a chance to fill out a form to claim your complementary
badges.  These badges are non-transferable; you're welcome to claim them for yourself but may not
sell or transfer them to anyone else.

</body>
</html>
