<!doctype html>
<html>
<head>
    <title>Star Umbrella</title>
</head>
<body>

<h3 align="center">Star Umbrella</h3>

    <p>
        Whether you need refuge from the harsh rains of winter, or a parasol to give yourself a break from Mr. Sun, this custom made star umbrella will give you a stylish way to show off your reslience amidst the elements. This umbrella is exclusively made for MAGFest 2018, and exclusively available to our Super Star badge upgrade supporters.
        </p>
</body>
</html>
