<!doctype html>
<html>
<head>
  <title>Star Umbrella</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Star Umbrella</h1>

<p>
  Whether you need refuge from the harsh rains of winter, or a parasol to give
  yourself a break from Mr. Sun, this custom made star umbrella will give you
  a stylish way to show off your resilience amidst the elements.
</p>
<p>
  This umbrella is exclusively made for MAGFest 2018, and exclusively
  available to our Super Star badge upgrade supporters.
</p>

<img src="../static/swag/star_umbrella.jpg">

</body>
</html>
