<!doctype html>
<html>
<head>
  <title>Star Rod Wand</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Star Rod Wand</h1>

<p>
  What kind of a SUPER STAR would be caught off guard without their trusty
  star rod wand to defend themselves?
</p>
<p>
  This custom-made plastic molded stick of fabulousness is manufactured
  exclusively for MAGFest 2018, and is available exclusively for purchase by
  those who purchase the Super Star badge upgrade.
</p>

<img src="../static/swag/star_rod_wand.jpg">

</body>
</html>
