<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hero of Rhyme Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Hero of Rhyme Tier</h1>

<p>
  Let’s be real. You’re not an NPC, you’re the HERO, and you deserve the full kit. Now, you already
  know you’re getting everything from the previous two tiers, but there’s so much more, so let’s get
  into it.
</p>

<p>
  First off, the 2027 Fairy Swadge IS included in the Hero of Rhyme Tier. This winged companion will be
  by your side, making your entire Super MAGFest experience more <s>annoying and tutorial-y</s> more
  enlightening and enjoyable. The new Swadge features an upgraded chipset, wireless Swadgepass
  technology, tons of new games and apps, and a beautiful array of reactive LEDs just waiting to
  flicker in everyone’s faces, whether they like it or not! (Hey, listen, some people like that sort of
  thing.)
</p>

<p>
  Do you have a bunch of pins and trinkets from past events, just sitting in a drawer somewhere?
  Finally, you can display them all on our Trihard Pin Board. (Yes, that triangle-shaped design is
  called the “Trihard”.) Pop all of your pins from over the years, or whatever else you want, on this
  board, and hang it over your desk, on your fridge, or right outside your treehouse!
</p>

<p>
  Ante up! Our completely customized Pixelpunk Playing Cards are smooth, high-quality poker-style cards
  that feature custom MAGFest pixel artwork on each card. You might even spot a few fun Easter Eggs in
  there. (Look closely at who’s hiding on the King card in the picture below…)
</p>

<p>
  If you’ve gotten our high tier merch packs over the last two years, you’re already familiar with the
  oddly incredible-quality socks we’ve included before. Frankly, we frickin’ love those socks, and so
  we wanted a new pair. This year, we’re taking the circuitboard-style of our very own Swadge and
  applying it to the socks, with a MAGFestian twist! (Sure, ankle socks might be millennial-coded, but,
  statistically, you’re a millennial. So keep those toes-y cozy 😎)
</p>

<p>
  To complement your Fairy Swadge, we have a song-making Fairy Fauxtamatone to make sure that nobody
  within earshot isn’t fully irritated by your presence! This little dude includes over 10 songs that
  you can play yourself, all while adjusting wah-wah timbre in real time. See if you can figure out and
  play every song! Honestly, this thing has no right being as fun as it is.
</p>

<p>
  Finally, you get our Convertible Hero Bag to keep everything inside. This is a fully custom-designed
  bag with three large zipped areas, an inner divider, and a water bottle pocket. It features a
  beautiful 2027 themed design (as well as a pretty dumb meme for all you jazzers out there), and is
  put together with incredibly high-quality material and stitching. But best of all, this bag can
  transform from a standard side-carried sling bag to a backpack, simply by adjusting the straps! (Yep!
  That’s why we call it “convertible”.)
</p>

<p>
  And you get ALL of this, plus everything in the other tiers, for a mere 200 rupee- er, dollars. This
  will probably be the last time we can keep prices this low, so be sure to grab this pack while you
  can!
</p>

<p>The Hero of Rhyme Tier includes:</p>
<ul>
  <li>All Previous Tier Items</li>
  <li>The 2027 Swadge!</li>
  <li>Convertible Hero Bag</li>
  <li>Trihard Pin Board</li>
  <li>Pixelpunk Playing Cards</li>
  <li>Fairy Fauxtamatone</li>
  <li>Swadge-styled Socks</li>
  <li>Invitation to the SUPER-SECRET crazy tier! Shhhh!</li>
</ul>
<p>*Items are subject to change</p>

<!-- The CRAZY TIER deadline is September 30, 2026. No config gates this block; remove it by hand
     after that date or it advertises an invite nobody can still earn. -->
<p>
  Pssst… Did you know that by pre-ordering the Hero of Rhyme merch pack by 9/30, you get a super secret
  invitation to the super secret tier of SUPER SECRET merch? SHHHHH!!! 🤫
</p>

<p>
  NOTE: In order to receive an invite to the secret “CRAZY TIER”, you
  <strong>must purchase the Hero of Rhyme Tier by September 30th 2026</strong>.
</p>

<img src="../static/swag/super-preview.png" alt="Hero of Rhyme Tier bundle preview">

</body>
</html>
