<!doctype html>
<html>
<head>
    <title>Super Swag Bag</title>
</head>
<body>

<h3 align="center">Super Swag Bag</h3>

<p>
We've heard your feedback, and are making our supporter package swag bags better than eveer!Are you tired 
of boring looking bags that are either empty, or filled with stuff that is really boring. Well, boy, do 
we have a surprise for you. Our theme changes ever year, and with that new theme comes a lot of fun ways 
to interact with it. Our swag bags are filled with awesome themed goodies, and are exclusively available 
to pre-orders only.
</p>

<img src="../static/swag/swagbag.jpg">

</body>
</html>
