<!doctype html>
<html>
<head>
  <title>Rip and Wear</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Rip and Wear</h1>

<p>
  Oh hell yeah, this is what I’m talkin’ about. If you’re gonna be slaying demons, you’ve gotta look the part. Grab the Rip and Wear tier to receive ALL of the previous-tier merch, along with:

<ul>
  <li><strong>Nightmare Knit Skullcap</strong> (complete with Thermonic Nucleivectorial Poof Ball) – Protect the hardest-working organ in your body: your liver. But also protect your brain with this pretty sick beanie</li>
  <li><strong>ULTRA QUALITY Button-Down MAG Shirt</strong> – After a tough few days of preying and slaying, put on your Sunday Best with this comfortable long-sleeve, Music-and-Gaming-themed dress shirt</li>
  <li><strong>Exclusive Mystery Item</strong> – Our crack team of scientists are still at work uncovering what appears to be an ancient relic with untold power and utilization. While we don’t have much info, it seems it fits into some sort of theme, and is intended to function accordingly outside of event. What could it be?</li>
  <li><strong>The Swadge Programmer</strong> – This USB device allows you to not only connect your Swadge to any PC or Mac, but update and create your own functionality for your Swadge, utilizing our Open Source software. Not to mention, the Swadge Programmer doubles as a thematically-appropriate stand for your Chainsaw Swadge, which allows you to proudly display it to any devilish do-bads that might come your way</li>
</ul>
</p>

<img src="../static/swag/super_preview.png">

</body>
</html>
