<!doctype html>
<html>
<head>
  <title>Funky Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Funky Tier</h1>

<p>
  This one's only for the truest of MAG fans. For $200, you will receive some
  of the absolute coolest swag we’ve ever created, but... we don’t want to spoil
  the surprise quite yet.
</p>
<p>
  But, maybe you can figure some of it out from the image? Super limited
  quantities, though!
</p>

<img src="../static/swag/super_preview.png">

</body>
</html>
