<!doctype html>
<html>
<head>
  <title>Supporter Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Supporter Tier</h1>

<p>
  For $85, you'll get a limited edition: MAGFest Fanny Pack, Custom Lanyard,
  Squeezy-nanner, Jungle Sunglasses, Funky Bandana, Gold “MF” Coin, Collapsible
  Canteen, and EVEN MORE!
</p>
<p>
  Plus, you get one of the coveted "MAGFest Swadges" – check out last year's
  <a href="http://swadge.com/super2019/" target="_blank">swadge here</a>!
</p>

<img src="../static/swag/supporter_preview.jpg">

</body>
</html>
