<!doctype html>
<html>
<head>
  <title>Emerald Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Emerald Tier</h1>

<p>
  Stepping things up, the Emerald Tier includes everything from the T-Shirt Tier and so, SO much more! We’ll start with the brand new 2025 Hot Dog Swadge, complete with new games, new modes, new RGB, and 100% more condiments than previous Swadges! 
</p>

<p>
  And nothing pairs with a Hot Dog Swadge like a Chilidog Air Freshener—and yes, it actually smells like a chilidog. Why did we think this was a good idea? Who knows!
</p>

<p>
  Plus you’ll get our Drive-in Logo Coozie, a terrifying Uni-eye Sleep Mask, a fun Pango Go Kart toy, a Melty Ice Cream Squishy, a totally radical Tattoo Sheet, all inside our MAG Drawstring Swag Bag!
</p>

<img src="../static/swag/supporter-preview.png">

</body>
</html>
