<!doctype html>
<html>
<head>
  <title>Brawler Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Brawler Tier</h1>

<p>
  Alright now we’re talkin’. Not only do you get the shirt, pin, and lanyard, but you’ll receive a whole swarm of incredible merch. We’ve got the gross-but-satisfying MAGTroid squeezy toy, a Galactic Passport complete with a 90s-style floating pen (with a little MAGTroid floating through the tube), and stickers to add to your passport.
</p>

<p>
  Plus an arm cannon travel mug, a spaceship luggage tag, the MAG Prime drawstring bag, and more! Oh, not to mention you’ll get the 2024 Gunship Swadge, which had tons of games, modes, lights, and all the coolness. (I have no idea how we were able to keep ALL of this under $100.)
</p>

<img src="../static/swag/supporter-preview.png">

</body>
</html>
