<!doctype html>
<html>
<head>
  <title>Swadge</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Swag + Badge = SWADGE</h1>

<p>
  In addition to your attendee badge, add on a custom personalized keepsake
  swadge to accompany it. This swadge is a fully functional circuit board!
  <a href="https://www.youtube.com/watch?v=hfqV1GamDgA" target="_blank">Check out a demo of last year’s Swadge here</a>s!
</p>

<img src="../static/swag/badges.jpg">

</body>
</html>
