<!doctype html>
<html>
<head>
  <title>T-Shirt Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>T-Shirt Tier</h1>

<p>
  Ol’ reliable, the classic T-Shirt Tier. For 35 smackers, you get the exclusive pre order-only event T-Shirt, the MAG Event Logo pin, and our cool Themed Lanyard. You can’t go wrong!
</p>

<img src="../static/swag/shirt-preview.png">

</body>
</html>
