<!doctype html>
<html>
<head>
    <title> Event-themed T-shirt </title>
</head>
<body>

<h3 align="center"> Event-themed T-shirt </h3>

<p>Some people are adverse to walking around in public with their bare torso uncovered. If you happen to be one of those people, you may be interested in decorating your body with a stylish MAGFest t-shirt. Our t-shirts have a reputation for being some of the coolest designs out there, and the image below, while not the actual image on the t-shirt, will give you and idea of the theme that will inspire this year's t-shirt design. Availabile in standard and slim-fit sizes in unisex an women's cut. (Slim-fit only available during pre-registration)</p>
<img src="../../static/swag/theme.jpg">

</body>
</html>
