<!doctype html>
<html>
<head>
  <title>T-Shirt Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>T-Shirt Tier</h1>

<p>
  Nothin’ like a clean shirt halfway through a MAGFest, know what I’m saying? (Especially during a Smash-themed year… If you’ve been to a Smash tourney before, you get it.) Plus you’ll snag our hella comfortable lanyard, perfect for pin-stacking. Speaking of, you’ll get our exclusive event pin, which commemorates 20 incredible years of MAGFest.
</p>

<img src="../static/swag/tshirt_preview.png">

</body>
</html>
