{% extends "./preregistration/preregbase.html" %}
{% block title %}Marketplace Application Received{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h2>{% if group.status == c.WAITLISTED %}You've been added to our waitlist!{% else %}Thanks for applying to the Marketplace!{% endif %}</h2>

    We've received your application for {{ group.name }} to purchase a Marketplace registration for {{ c.EVENT_NAME }}.

    <br/><br/>
    {% if group.status == c.WAITLISTED %}
        Since the Marketplace is currently full, you've been added to our waitlist, and we'll let you know if a spot opens up for you.
    {% else %}
        We receive a flood of applications every year, so application processing takes a considerable amount of time.
        Approvals will be done as promptly as possible; usually no later than <strong>two months</strong> before the event.
    {% endif %}

    <br/><br/><h3>What Happens Next</h3>
    After approval, you will be emailed a link to manage your marketplace registration. From this link, you will be able to:
    <ul>
        <li>Pay for your marketplace registration, which includes the cost of tables and badges.</li>
        <li>Register your Marketplace Assistants.</li>
        <li>After your badge and table payment is received, you may add and pay for additional Marketplace Assistants.</li>
    </ul>

    Your Marketplace Payment includes your table cost and all badges in your group.  After payment, you'll be sent a link
    by email to follow if you wish to later upgrade your badge. Your Marketplace Assistants will be able to upgrade their own
    badges and pay for those upgrades on their own.

    <br/><br/>Later, you will receive another email with more specific information about this year's event.

    <br/><br/>In the event your Marketplace application is waitlisted, declined, or did not make it through the lottery,
    you will receive an email. If your application made it through the lottery but is not approved, you will be able to 
    purchase badges for yourself and the number of assistants on the application at the current attendee pre-registration price
    when the waitlist is exhausted. You will receive an email when these badges are available for purchase. If you do not move 
    on to the application process from the lottery, then you will need to pre-register for your badges separately.

    {% set show_dealer_disclaimers = True %}
    <br/><br/>{% include "preregistration/disclaimers.html" %}
  </div>
</div>
{% endblock %}
