<h4 class="text-danger">Disclaimers</h4>
<ul>
  <li>
    All attendees (including vendors, performers, panelists, etc.) must abide by our
    <a href="http://super.magfest.org/codeofconduct" target="_blank">code of conduct</a>.
  </li>

  {% if c.DEALER_REG_START and attendee and attendee.is_dealer or show_dealer_disclaimers %}
    <li>All {{ c.DEALER_TERM }}s in the MAGFest marketplace must abide by the 
      <a href="https://super.magfest.org/marketplace-rules" target="_blank">marketplace rules</a>.
    </li>
  {% endif %}

  <li>
    Please review our badge policies and other
    <a href="https://super.magfest.org/about/faq/" target="_blank">frequently asked questions</a>
    prior to purchasing your badge.
  </li>
  <li>
    {{ c.EVENT_NAME }} has a <a href="https://super.magfest.org/about/faq/#i-bought-more-than-one-badge-in-my-name-will-multiple-badges-be-a-problem" target="_blank">one badge per person policy</a>.
    If you purchase multiple badges (for your family or as a gift), please
    ensure that each badge is purchased in the name of the individual for whom
    the badge is intended. You may use the same email address for multiple
    badges so any surprises aren't ruined.
  </li>
  <li>
    {{ c.EVENT_NAME }} badges are for attending the event yourself or giving as a gift.
    Buying badges to resell, or transferring a badge for more than the price you paid,
    is prohibited and may result in cancellation without refund and restriction from
    future MAGFest events. See our
    <a href="https://super.magfest.org/attend/resale-policy/" target="_blank">Badge Resale Policy</a>.
  </li>
  <li>
    {{ c.EVENT_NAME }} has a <a href="https://super.magfest.org/about/faq/#does-magfest-offer-badge-refunds" target="_blank">limited refund policy</a>.
    You may <a href="https://super.magfest.org/about/faq/#how-do-i-sell-or-transfer-my-badge" target="_blank">transfer your badge</a>
    for no more than the price you paid, or list it on the MAGFest Badge Exchange once it opens.
  </li>
  <li>
    Once the <a href="https://super.magfest.org/attend/resale-policy/#badge-exchange" target="_blank">MAGFest Badge Exchange</a>
    opens, you may list a badge you cannot use. If a person on the waitlist purchases it,
    you will be refunded the price you paid minus payment processing fees.
    Badges purchased through the Exchange cannot be transferred to another person.
  </li>

  {% if c.CONSENT_FORM_URL %}
    <li>
      Attendees under 18 MUST bring a
      <a href="{{ c.CONSENT_FORM_URL }}" target="_blank">signed parental consent form</a>.
      All children 12 and under will need to be accompanied by an adult with a paid badge.
    </li>
  {% endif %}
  {% if c.DEALER_REG_START and attendee and attendee.is_dealer or show_dealer_disclaimers %}
    <li>
      Submitting this form to vend does not guarantee you will be selected for the Marketplace - it is only the application.
    </li>
    <li>
      MAGFest Marketplace no longer allows proxy selling. If you are a proxy seller, please do not apply.
    </li>
  {% endif %}
</ul>

<script type="text/javascript">
    $(document).ready(function(){
        window.scrollTo(0,0);
    });
</script>