{% if not c.REFUND_CUTOFF %}
{{ c.EVENT_NAME }} has a no-refund policy for all registrations. We may make exceptions in limited circumstances at our discretion.
{% elif c.REFUND_CUTOFF < c.ESCHATON and c.BEFORE_REFUND_CUTOFF %}
{{ c.EVENT_NAME }} has a limited refund policy for registrations.
{% endif %}
For more information regarding this, and for answers to common questions, please visit our <a href="https://super.magfest.org/faq/#badge-refunds" target="_blank">FAQ</a>.
{% if attendee.is_transferable %}
If for any reason you can't attend, we allow and encourage you to resell your
registration up to the exact price you paid for it. To transfer your
registration to another person, send 
them <a href="{{ c.URL_BASE }}/preregistration/transfer_badge?id={{ attendee.id }}">this personalized link</a>.
{% endif %}
{% if c.REFUND_CUTOFF and c.BEFORE_REFUND_CUTOFF %}
You may {% if attendee.is_transferable %}also {% endif %}
  refund your badge
{% if c.REFUND_START %}from {{ c.REFUND_START|datetime_local }}{% endif %} until {{ c.REFUND_CUTOFF|datetime_local }}
  using <a href="{{ c.URL_BASE }}/preregistration/confirm?id={{ attendee.id }}">this{% if not attendee.is_transferable %} personalized{% endif %} link</a>.
{% endif %}
