<html>
<head></head>
<body>
Your group ({{ group.name }}) has been approved as a {{ c.EVENT_NAME }} {{ c.DEALER_TERM }} for this coming {{ event_dates() }}!
You can pay the {{ group.cost|format_currency }} you owe using the credit card button
<a href="{{ c.URL_BASE }}/preregistration/group_members?id={{ group.id }}">on this page</a>.
Payment is expected by: {{ c.DEALER_PAYMENT_DUE|datetime_local }} or your application will be removed and your tables filled by another applicant.

{% if group.unassigned_badges %}
    <br/> <br/>
    Some of your badges are not yet assigned to a specific person. If you assign these badges
    now then it will take much less time for their owners to pick them up at the festival.
    You may do this by <a href="{{ c.URL_BASE }}/preregistration/group_members?id={{ group.id }}">clicking here</a>.
{% endif %}

<br/> <br/> <strong>Important Note</strong>: While reviewing applications for this year we noticed there were many errors in names, addresses, and contact info. Please be sure to confirm and/or update your information before paying. We will use the table name, badge name, and address on the application when we turn information over to the Maryland Comptroller. You are responsible for any errors.

<br/> <br/><strong>Tax Information <span style="color:red">*MUST READ*</span></strong>
<p>All sellers in the Marketplace are required to obtain a Seller's Permit from the State of Maryland. 
    To ease the burden on the Comptroller's office for issuing mass permits, we submit the names & information of our sellers 
    in advance to ensure everyone has the right documentation; the Comptroller's office then issues the seller's permits 
    directly to you. Be sure to double check the address on your application and be sure this information is correct for the 
    Comptroller's office submission.
    <strong>Finally, if you are multiple Artists or Vendors sharing the same table space through an approved table share or you 
        applied and were accepted together: then each individual seller *MUST* provide MAGFest and the Maryland Comptroller their 
        information above and get their own exhibitor's affidavit.</strong></p>

<p>By paying for your table(s) and assigning your badge(s), you and anyone with badges associated with your table agree to abide 
    by and follow the below rules and guidelines laid out in the Marketplace Contract. This is non-negotiable, and anyone who does 
    not follow them will have their tables rescinded immediately with no refund and will have to leave.</p>

<p>Please review the full list of rules for MAGFest Marketplace at 
    <a href="https://super.magfest.org/marketplace-rules" target="_blank">https://super.magfest.org/marketplace-rules</a>. 
    All sellers must abide by these rules at all times.</p>

This registration includes:
<ul>
    <li> {{ group.tables }} table{{ group.tables|pluralize }}{% if group.auto_recalc %} ({{ group.default_table_cost|format_currency }}){% endif %}</li>
    <li> {{ group.badges }} badge{{ group.badges|pluralize }}{% if group.auto_recalc %} ({{ group.default_badge_cost|format_currency }}){% endif %}</li>
</ul>

<br/> <u>{{ c.DEALER_LOC_TERM|title }} Rules and Information</u>
{% include "static_views/dealerRules.html" %}


{{ c.MARKETPLACE_EMAIL_SIGNATURE }}
</body>
</html>
