{% extends 'uber/templates/forms/panel/panel_info.html' %}

{% block x_data %}
{{ super() }}
panel_name: `{{ panel_info.name.data }}`,
rating: {{ panel_info.granular_rating.data|jsonize }},
get longName() { return this.panel_name.length > 40 },
get showMagScouts() { return this.rating == '{{ c.NONE }}'},
{% endblock %}


{% block name %}
    <div class="col-sm">
        {{ form_macros.input(panel_info.name, alpine_model="panel_name") }}
    </div>
    {% if c.PANELS_DEPT_OPTS_WITH_DESC|length > 1 %}
    <div class="col-sm">
    {% call form_macros.input(panel_info.department, alpine_model='department') %}
    {% if not admin_area %}
    <div class="form-text" x-text="dept_descs[department]" x-show="dept_descs[department]"></div>
    {% endif %}
    {% endcall %}
    </div>
    {% else %}
    <input type="hidden" name="department" value="{{ c.PANELS_DEPT_OPTS_WITH_DESC[0][0] }}">
    {% endif %}
</div>
<div class="row g-sm-3 mb-3">
    <div class="col-sm">{{ form_macros.input(panel_info.broadcast_title, required_if="longName") }}</div>
    <div class="col-sm">{{ form_macros.input(panel_info.broadcast_subtitle) }}</div>
{% endblock %}


{% block rating %}
<div class="col-sm">{{ form_macros.input(panel_info.granular_rating, alpine_model='rating') }}</div>
{% if not admin_area %}
</div>
<div x-show="rating == '{{ c.NONE }}'">
    <div class="alert alert-info">
        MAGScouts guides younger attendees and their adults to age-appropriate content at MAGFest events. 
        <br/><br/>Marking your content as “MAGScouts-approved” means that demographic will be encouraged to attend, and that your content will be presented in a manner that is appropriate for all audiences.
        <br/><br/>This doesn't mean your content has to be "for kids" only, just that it should be accessible and inoffensive to younger attendees!
        <br/><br/>{{ form_macros.input(panel_info.magscouts_opt_in) }}
    </div>
{% endif %}
{% endblock %}