{% extends 'uber/templates/landing/index.html' %}

{% block page_styles %}
<style>
    html, body{
      height: 100%;
      margin: 0;
      padding: 0;
      /** To edit this background, follow this link:
      http://svgeneration.com/generate/Graph-Paper?size=20&background=ffffff&lines=cccccc&line-width=1&turbulence=0.1&
      */
      background-color: #ffffff;
      background-image: url("../static/theme/tile-background.png");
      background-repeat: repeat;
      background-position: left top;
      background-attachment: local;
      background-size: 100%;
      background-size: auto;
    }
</style>
{% endblock %}