{% extends 'uber/templates/emails/hotel/reject_notification.html' %}

{% block reject_info %}
    <p>
        We have negotiated discount room blocks at various hotels outside of National Harbor, and <a href="https://docs.google.com/spreadsheets/d/1Z6zd2YDVnbmCogqktnBGjUkJ_a60QO4u-7DFjzD1kRk/edit?gid=0#gid=0" target="_blank">they can be found here</a>.
        This list is exclusively available to MAGFest attendees until October 15.
        For the first time ever, MAGFest will be running free shuttles to these hotels at this event.
        That information is available and will be updated on <a href="https://super.magfest.org/hotel-info" target="_blank">our website</a>.
    </p>
{% endblock %}
